[2017-07-05 20:16] elisechant opened #2 "Include documentation"
I think you should merge the /examples to master as it's acting as documentation, such as https://github.com/whawker/react-jsx-highcharts/pull/1.
If the reason you haven't done this is because you don't want them to be published to npm, why not add a .npmignore file and list /examples in it? As well, you could add /dist to the .gitignore

[2017-07-05 20:59] elisechant opened #3 "Ideological questions about approach to architecture"
Hey Will.

Great idea with this repo and good job getting it out there on npm 👍 ! Legend!

I think that the way you've "reengineered' Highcharts declaratively is clever. I can see that you're building a lightweight chart instance and then adding the nested components (titles, axis, even series) as you move down the DOM tree.

I'm wondering if you had other attempts or thinking to solve this?

A pr

[2017-07-06 09:14] whawker commented on #2
Yep, fair point. I guess the examples would be useful to have in both branches. I'll merge your PR.

@elisechant Excuse my ignorance, but is it possible to .gitignore the dist folder, but still include it when I publish to NPM?

[2017-07-06 09:41] whawker commented on #3
@elisechant My idea is rather simplistic - as you've already noticed, I just create a Highcharts chart with everything disabled, and perform a `chart.update` with new config, when a sub component mounts/unmounts or its props change.

There is a bit of magic going on via React context: rather than passing the whole chart object around and risk React render thrashing, I use higher order components (

[2017-07-06 09:50] whawker commented on #3
Unrelated, but also something I want to explore is being able to use ImmutableJS List objects as data for series.

[2017-07-06 19:47] elisechant commented on #3
Thanks Will.

Oh yeah of course `context`! Gotcha. Good save on the thrashing! A clever idea. I really like this approach.

I had also considered the Redux thing to keep track of state, but still don't know that that would really solve the initial rendering and concerned about "rehydrating" Highcharts because of its monolithicness and internal state setting.

Another painpoint i've found is having

[2017-07-06 19:53] elisechant commented on #2
Cool :) I was wondering for ages where the code was! ha! oh yeah gh-pages branch!

And yes, but you need to include an .npmignore (where you dont ignore /dist), otherwise npm falls back to the .gitignore (and ignores /dist) https://stackoverflow.com/questions/31642477/how-to-publish-a-npm-package-with-distribution-files https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

[2017-07-10 08:15] whawker opened #4 "Some components using context directly unnecessarily"
Use `provideChart` HOC and `this.props.getChart` instead

- [ ] [Debug](https://github.com/whawker/react-jsx-highcharts/blob/master/src/components/Debug/Debug.js#L21)
- [ ] [Tooltip](https://github.com/whawker/react-jsx-highcharts/blob/master/src/components/Tooltip/Tooltip.js#L30)
- [ ] [RangeSelectorButton](https://github.com/whawker/react-jsx-highcharts/blob/master/src/components/RangeSelector/R

[2017-07-10 08:20] #2 closed

[2017-07-13 21:47] appsmehta opened #5 "Is the highstock-release dependency necessary for Simple highcharts?"
@whawker  Do we need to have highstock for absolutely everything?

I feel it is better to allow simple highcharts to be rendered without highstock. This is because for commercial uses a developer may not have license to highstocks, even though they have purchased a highcharts license.

[2017-07-14 08:33] whawker commented on #5
Hmm interesting, I hadn't thought about the licencing issue.

In the short term, if you're using Webpack, I think you should be able to use [`resolve.alias`](https://webpack.js.org/configuration/resolve/#resolve-alias), to use Highcharts instead.
[code]
Could you let me know if the above works? (If you are using Webpack)

In the meantime, I'll look into using [optional](https://www.npmjs.com/packa

[2017-07-14 16:26] appsmehta commented on #5
@whawker , Actually it would still have difficulty in running this library with simple boiler-plate starters like create-react-app. One cannot get webpack without ejecting from create-react-app.

[2017-07-14 18:13] whawker commented on #5
Fair enough, do you have a preference on the second or third options?

[2017-07-21 17:49] #4 closed

[2017-07-26 13:33] #5 closed

[2017-07-26 15:21] whawker commented on #5
@appsmehta just published version 1.0.0 - we now have separate NPM packages for Highcharts and Highstock. This will allow you to use `highcharts` instead of `highstock-release`.

More details in the [release notes](https://github.com/whawker/react-jsx-highcharts/releases/tag/1.0.0)

[2017-08-04 18:05] #3 closed

[2017-08-13 04:34] sweetyv opened #9 "BarSeries not working as bar, instead shows column"
Hi,

I am trying to work with BarSeries, but its showing columns instead. What could be the possible error?

[2017-08-13 09:07] whawker commented on #9
Hi @sweetyv would you mind pasting in the code you're trying to render so I can help debug it?

[2017-08-13 10:21] sweetyv commented on #9
Hi @whawker .. i added "inverted" to the BarSeries and now its working :)
Thank you very much. Really appreciate the quick response.

[2017-08-13 10:29] whawker commented on #9
No worries, although I didn't really do anything! Glad you got it sorted.

P.s. If you're planning to use React JSX Highcharts on a publicly accessible website I'd love to see it in action. Would you be able to post a link if that is the case?

[2017-08-13 11:07] sweetyv commented on #9
@whawker Thanks :) I am not sure if I can share the link but I will definitely try and ask the client.

[2017-08-13 11:40] #9 closed

[2017-08-13 11:45] sweetyv opened #10 "BubbleSeries not working"
Hi @whawker ,

I am working with Bubble series and its not generating the chart. If I change the series type to any other type(E.g. Scatter), it works fine. I am not sure if I am passing the data correctly or its some other issue. Please help.

This is the below code:

[code]

[2017-08-13 12:24] whawker commented on #10
Bubble series require the `highcharts-more` extension (see [here](https://github.com/highcharts/highcharts/tree/master/js/parts-more) to see what else "more" provides)

You should be able to include it by
[code]

[2017-08-13 12:51] sweetyv commented on #10
Awesome! Its working. Thank you so much for the quick help :)

[2017-08-14 09:56] sweetyv opened #11 "Progress Bar"
Hi @whawker ,
I am trying to create a progress bar with the BarSeries.

I am referring to this(https://jsfiddle.net/huphtur/cm6dmoga/) example to create progress bar. Not sure where I am going wrong. Can you help please?

I am open to some other solution also. Just need to a progress bar.

Below is the code I am working on:
[code]

[2017-08-14 10:59] whawker commented on #11
The options listed in the jsfiddle example aren't `plotOptions` they're _`series`_ options. Therefore they should be passed on the `<BarSeries />` components.

[code]

[2017-08-14 11:03] whawker commented on #11
FYI `plotOptions` in React JSX Highcharts refers to [these options](http://api.highcharts.com/highcharts/plotOptions).

Most other options are supposed to passed as React component props like, the `<BarSeries />` props above.

[2017-08-14 16:31] sweetyv commented on #11
Ohh...Now, got it. Works perfectly. Thank you very much :)

[2017-08-14 17:48] #11 closed

[2017-08-16 06:42] sweetyv commented on #10
Hi @whawker,

The bubble series is working fine but I want to create a dynamic bubble series. For e.g I want multiple bubbles but I am not sure how many bubbles will be created. That will depend on my selection of filters.
Is there a way we can create multiple/dyanmic bubble series with some loop or something depending on the JSON data passed to my chart?

Please help.

[2017-08-16 07:33] whawker commented on #10
Do you mean an unknown number of Bubbles in a single series? Or multiple Bubble series?

The [add/remove example](https://github.com/whawker/react-jsx-highcharts/blob/master/examples/AddSeries/App.js#L84) demonstrates how you could have an arbitrary number of series, if that helps?

[2017-08-16 08:00] sweetyv commented on #10
Unknown number of multiple Bubble series.

@whawker  Below is the example of AreaSpline Series. In this as well, I want to create multiple Areaspline series depending on the JSON file which has number of categories(Skincare,Haircare etc).

I think I am making mistake in loop. Please help.

[code]

[2017-08-16 08:24] whawker commented on #10
It's hard to say exactly, because I don't know the shape of the JSON being returned. But there are a few issues here,

Firstly `renderSVTValue` should be bound to `this` in you constructor function. [example](https://github.com/whawker/react-jsx-highcharts/blob/master/examples/AddSeries/App.js#L13)

Secondly `renderSVTValue` is returning an array, which I don't think will work in React v15, you ne

[2017-08-16 08:36] sweetyv commented on #10
Ohk great. Thanks, that makes sense.
Just sending you the JSON file incase you can tell me if I am doing anything wrong.

[2017-08-16 08:41] sweetyv commented on #10
JSON DATA:

{
  "data": {
    "svt": [{
      "id": 0,
      "name": "Face Cream",
      "value": [216300, 319270, 377930, 345060, 389510, 351560, 366510, 358180, 345020, 342740, 302060, 246690],
      "date": ["2017-7", "2017-6", "2017-5", "2017-4", "2017-3", "2017-2", "2017-1", "2016-12", "2016-11", "2016-10", "2016-9", "2016-8"]
    }, {
      "id": 1,
      "name": "Generic",
      "value": [1

[2017-08-16 09:13] whawker commented on #10
Ok you can either assume the `date` values, and add them as an [XAxis category](https://github.com/whawker/react-jsx-highcharts/blob/gh-pages/examples/Combo/App.js#L31)
[code]

Or use something like [lodash.zip](https://lodash.com/docs/4.17.4#zip) to combine the `date` and `value` arrays into a multidimensional array.

[code]

[2017-08-16 09:14] whawker commented on #10
Also, closing this as there is not actually an issue to be fixed here.

[2017-08-16 09:14] #10 closed

[2017-08-16 09:31] sweetyv commented on #10
Hi @whawker,

This is below code as per feedback. Still not able to generate the chart. I have recently started working with React, getting stuck in the basic functionality.  Could you please help?

[code]

[2017-08-16 10:17] sweetyv commented on #10
Amazing. Thank you very much @whawker. It worked. Appreciate it 👍

[2017-08-16 10:44] sweetyv commented on #10
Hi @whawker,

One more query. Sorry.
So I want my categories(date) also for X axis from JSON file. I tried following code referring your code. But i am not sure how to add it is a category attribute.

[code]

[2017-08-16 11:01] whawker commented on #10
You don't need to render any additional XAxis components for the `categories` attribute, it just expects an array as a prop value.

Something like:
[code]

[2017-08-16 11:20] sweetyv commented on #10
Can't thank you enough. I tried to make component with XAxis and that worked too. But your way is just perfect. 👍

[2017-08-16 14:20] sweetyv commented on #10
Hi @whawker, just wanted to ask you what if I have categories(names) in XAxis and not dates. The JSON looks like below:
[code]

This is the below code you had shared earlier. I tried to tweak it as per the requirement but not sure how to loop inside attribute.
[code]

Could you please help?

[2017-08-16 14:30] whawker commented on #10
The line `// return uniq(allNames.sort()); // Sort combined name and remove duplicates.` is commented out?

[2017-08-16 16:16] webisteme opened #12 "LineSeries coordinates not updating"
I am using a LineSeries to draw a vertical line on a graph using your package:

        <LineSeries
          data={[{x: this.props.x, y: this.props.y_end}, {x: this.props.x, y: this.props.y_start}]}
        />

The size of the line needs to change in response to other variables in the application. Unfortunately it doesn't change when the props update. This seems to have to do with the fact that i

[2017-08-16 16:24] sweetyv commented on #10
Yes, I had commented it for this example(which doesnt have date on xAxis and has categories instead) considering i don't need any sorting or unique values.

[2017-08-16 17:09] whawker commented on #12
I think the issue here is that your `<LineSeries />` requires an `id` prop.

React JSX Highcharts requires ids so it knows which parts of the Highcharts configuration to update behind the scenes.

This should fix it (I think)
[code]

[2017-08-16 17:13] whawker commented on #10
Yes, but you still need to return _something_ from the function...

[code]

[2017-08-16 17:25] sweetyv commented on #10
This is showing me only one category i.e the first category "Purchase" from my JSON. How do I make a loop or show all the categories on XAxis?

[2017-08-16 18:01] sweetyv commented on #10
Just for your reference.
![2](https://user-images.githubusercontent.com/28787996/29377918-edbbc806-82da-11e7-8f5b-7bcc21cc88ad.jpg)

[2017-08-17 08:21] webisteme commented on #12
That worked, thanks!

[2017-08-17 09:23] whawker commented on #12
No worries!

[2017-08-17 09:23] #12 closed

[2017-08-17 11:52] webisteme opened #13 "Can't remove tick marks on X-Axis"
I would like to make the X-Axis on a Lien graph invisible. I have managed to remove everything except the tick marks (ignore the blue container div border underneath)
![ticks](https://user-images.githubusercontent.com/1211298/29410749-4678a5aa-8352-11e7-9046-60f38bdef57b.png)

My XAxis is defined as follows:

      <XAxis
        gridLineWidth='0'
        labels='None'
        lineWidth='0'

[2017-08-17 12:13] whawker commented on #13
The zero values need to be passed as integers, not strings.
[code]

[2017-08-17 12:26] webisteme commented on #13
Thanks again

[2017-08-17 12:27] #13 closed

[2017-08-18 08:40] sweetyv commented on #10
Hi @whawker,

Could you please help me with the above issue? I tried working around the code and removed the below code as I don't need any sorting or reducing.
[code]

I tried the below code:
[code]

and in render
[code]

Could you please check?

[2017-08-23 05:05] sradevski opened #14 "Cannot read property 'destroy' of undefined"
Good job on wrapping HighCharts, it is a pain to work with it otherwise!

I have version 1.3.1, and I get an error even with the simplest example in the demos. It seems that somewhere the chart reference is deleted before the BaseChart component's componentWillUnmount event is called, thus the error.

You can investigate why this occurs, but for now a simple solution is to check the existence of t

[2017-08-23 12:15] whawker commented on #14
Hmm I'm not sure why the reference would be deleted. I've never seen that before.

What version of React are you using?

[2017-08-23 12:26] sradevski commented on #14
I am not at work currently so I can't check, but since I upgraded our dependencies just few days ago it should be 15.6.1.

[2017-08-23 12:53] whawker commented on #14
Ok thanks, by any chance is the component mounted, then unmounted almost immediately? I can't think of many reasons why `this.chart` would be undefined.

[2017-08-23 12:55] sradevski commented on #14
I didn't really spend a lot of time debugging, I just added an additional check so I can continue with development, but I can have a look if it helps.

[2017-08-24 00:11] sradevski commented on #14
I found the cause of it. I have wrapped the chart in another component, that only renders its children when the status is not loading. It seems React instantiates the children before they are rendered, and then immediately unmounts them, before the this.chart object is created.

[code]

Render method of StatusWrapper:
[code]

[2017-08-24 07:25] whawker commented on #14
Interesting, I didn't know about that React behaviour.

Yep I'll wrap the `componentDidUnmount` in an if statement and push out a new release.

[2017-08-24 07:32] #14 closed

[2017-08-24 07:40] whawker commented on #14
Published as 1.3.2, thanks for the heads up and debugging.

[2017-08-27 22:08] geforcefan opened #15 "AxisProvider method removePlotLine won't remove the plot line"
After analysing the problem why **removePlotLine** in Component **PlotLine.componentWillUnmount** won't kick in is that the argument (id) won't be passed to **highcharts** in "raw" format.

I've traced this code:
`this.props.removePlotLine("SomeID");`

and landed in the raw function **removePlotBandOrLine** in **highcarts**. What I saw is, that the argument, which is passed though the boundContext

[2017-08-28 01:10] geforcefan opened #16 "PlotLine values not updating, PropTypes wrong"
For some reason, **PlotLine values** are not updating. Maybe I am missing a point, but It seems
that **PlotLine** needs to provide **componentDidUpdate**.

My solution was to add following code:

[code]
Because of the other bug I've reported, this solution will not fix the problems, because **this.props.removePlotLine** won't pass the **id** to **highcharts** (Described in: #15)

The PropTypes see

[2017-08-28 10:04] geforcefan opened #17 "SeriesProvider don't removes handleSeriesAdded Event when component will unmount"
**handleSeriesAdded** is called after a Series is unmounted, because the registered Event (in **providerSeries**) isn't removed after the component is unmounted.

` Highcharts.addEvent(getChart(), 'addSeries', this.handleSeriesAdded);`

 This will do the trick:

[code]

When not doing this, react will warn you (because you can't set states on unmounted components)

[code]

[2017-08-29 08:24] whawker commented on #17
Hi, sorry I've been on holiday the past few days. Looking into these issues now.

[2017-08-29 15:11] juwilliams opened #18 "Support for Gauge charts"
Thanks for the work on this, super useful library.

Quick question however, is there support for highcharts-more? I can't seem to get any of the charts provided there working with this.

[2017-08-29 15:45] whawker commented on #18
Glad you like it! How are you importing highcharts-more into your code?

It should be something like
[code]

[2017-08-30 03:06] gclarkjr5 opened #19 "Any difference between ColumnSeries and BarSeries?"
While I was trying to create a bar chart thinking it was going to basically be a transposed column chart, I copied the example code for a Combo Chart, removing everything but the column series. I replaced the column series with 'BarSeries' but nothing occurred. After digging through some of the documentation for different charts, I was able to find that adding the "inverted" prop to the Chart comp

[2017-08-30 16:27] juwilliams commented on #18
Yeah that was my approach. Apologies, should have clarified in my initial question that I'm receiving an error that the type of series is unsupported (solidgauge)

This is with Chart prop type = solidgauge and Series type = solidgauge.

[2017-08-30 20:12] whawker commented on #18
Ah you also need the `solid-gauge` module that series, [see here](http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/highcharts/demo/gauge-activity/).

So... (I think)
[code]

[2017-08-30 20:34] juwilliams commented on #18
Running into an issue with the hard coded values for expected chart and series types.

[2017-08-30 20:38] whawker commented on #18
Ah, I haven't added support for gauges yet, but maybe that prop type validation is too restrictive. Does it work despite the warning?

[2017-08-30 20:43] juwilliams commented on #18
It doesn't. Seems like it fails to generate the yAxis.

[2017-08-30 20:49] whawker commented on #18
Would you be able to paste the code you're seeing this error with?

I was hoping it would work similar to the Funnel example, which has no axes. https://whawker.github.io/react-jsx-highcharts/examples/Funnel/index.html

[2017-08-31 08:13] #15 closed

[2017-08-31 08:13] #16 closed

[2017-08-31 08:13] #17 closed

[2017-08-31 08:15] whawker commented on #15
Thanks very much for this detailed bug report and fix! I've modified the `removePlotLine` and `removePlotBand` functions as you highlighted in the commits above.

[2017-08-31 08:18] whawker commented on #16
Ah of course! Annoyed with myself for failing to a `componentDidUpdate` for these components.

It took me a little longer than I had expect to implement your suggested fix, as the `PlotBand.Label`/`PlotLine.Label` components were trying to update a removed band/line.

Is it possible for you to try building you application against the master branch, and see if these issues are fixed?

[2017-08-31 08:20] whawker commented on #17
Good spot! And thank you for the detailed bug report and suggested fix. I'll need to add you as a contributor 😄

[2017-08-31 08:21] whawker commented on #18
P.s. just pushed [a commit](https://github.com/whawker/react-jsx-highcharts/commit/7d90ecfc1300b515a949b3f4e97bb727a36589f8) which removes the prop type validation for series type

[2017-08-31 08:22] whawker commented on #19
Hi @gclarkjr5, thanks for the report. Looking into this now.

[2017-08-31 09:06] whawker commented on #16
P.s. I've publish `1.3.3` as a pre release, which might be easier than trying to use master `npm install react-jsx-highcharts@1.3.3-pre.1`

[2017-08-31 09:41] whawker commented on #19
Yes you're right, a [Bar series is just an inverted Column series](https://github.com/highcharts/highcharts/blob/master/js/parts/BarSeries.js#L16-L18).

I'll see if I can make `BarSeries` automatically invert the chart.

[2017-08-31 14:46] juwilliams commented on #18
Thanks for the update. I'm not seeing the errors anymore though it still is not rendering the gauge. In all examples I've seen of the solid-gauge it utilizes a pane object to set up the tracks for the gauge. Are props passed down through the HighchartsChart component?

`import React from 'react';

import Highcharts from 'highcharts';

import {
	HighchartsChart,
	Chart,
	Legend,
	Title,
	XAxis,
	YA

[2017-08-31 15:03] geforcefan commented on #17
Thanks for your efforts, gonna check your all your fixes right now. I think react-jsx-highcharts is a very good library and I am glad I found this. Very solid implementation. Id be glad to help you on this since I am heavily using the highcharts with very complex scenarios.

[2017-08-31 16:20] whawker commented on #18
So this isn't your code, but it's an example of a Gauge chart, it's a little hacky though as I've never really tried to properly support it. It might give you something to work from though?

A few notes
* `<XAxis >` seems to be required for gauges
* Chart type needs to be provided on chart initialisation (see `<HighchartsChart chart={{ type: 'solidgauge' }}` rather than on `<Chart />` component)
*

[2017-08-31 20:36] geforcefan commented on #16
I can confirm that the reported bugs are now fixed. I guess the highstock package is not updated yet. But this was good for the comparison since I just needed to import from highstock and then from highcharts to figure out whether the bugs was fixed or not. Thanks :)

[2017-09-01 08:38] #19 closed

[2017-09-01 08:40] whawker commented on #17
That's good to hear! Thank you very much, I look forward to it.

[2017-09-01 08:59] whawker commented on #19
Just published 1.3.3, which will invert the chart when adding a `<BarSeries />`

[2017-09-01 09:00] whawker commented on #16
Fantastic. Just published as a stable release `react-jsx-highcharts@1.3.3` and `react-jsx-highstock@1.3.3`

[2017-09-01 11:29] axelduch opened #20 "Allow styled mode (css) for highcharts"
From my understanding, right now, `react-jsx-highcharts` imports the top level 'highcharts'. But as of version `5` there is a styled mode using css for separation of concerns purposes. And as per the [highcharts documentation for Style by CSS](https://www.highcharts.com/docs/chart-design-and-style/style-by-css), you need to load `highcharts/js/highcharts.js` instead of the top `highcharts` as you

[2017-09-01 12:19] whawker commented on #20
Interesting, I assume that means we would lose the automatic theming?

My only concern would be is if `'highcharts/js/highcharts'` plays nicely with [Webpack aliasing](https://github.com/whawker/react-jsx-highcharts/blob/master/packages/react-jsx-highstock/.babelrc#L7-L9), that we use for the highstock package.

Would love it if you could make a PR so I could give it a test.

[2017-09-01 12:28] axelduch commented on #20
Cheers for the swift answer.
It could also be done in a more explicit way by creating a separate component.
For instance instead of using `HighchartsChart`, we'd have `HighchartsChartCSS` (there might be a better name for it.

It wouldn't be that bad of a design choice if we consider that it actually is a different Highcharts script being loaded anyway.

What do you think?
In any case I'm gonna tr

[2017-09-01 12:31] axelduch commented on #20
`HighchartsCSSChart` would be a better name

[2017-09-01 20:56] gclarkjr5 commented on #19
@whawker thanks for this! Looks like it works, however it appears something got broken in the process as now my Tooltip doesn't work. When accessing "this" for the formatter function of the tooltip, it does not return the same object compared to if i keep everything the same but put "inverted={true}" back into the Chart component.

/////////////////// (v1.3.3), works as expected /////////////////

[2017-09-01 22:10] whawker commented on #19
Could you post a fuller example, I can't reproduce what you're referencing.

I've got
[code]

And with `<Chart inverted={true} />` and  `<Chart inverted={false} />` the Tooltip formatter seems to have the same this scope.

[2017-09-03 11:14] cbergmiller opened #21 "Dynamically Replacing YAxis throws Highcharts error"
First let me say that i think that **react-jsx-highcharts** is an excellent approach for integrating highcharts in react apps! I would like to try and use it for the projects i am responsible for at work.

I ran into an issue when i tried to dynamically replace y-axis:
[code]
This works fine until one of the `selectedTypes` is removed. The following error is thrown:
[code]
Is removing y-axis not s

[2017-09-03 15:39] theappbanq opened #22 "HighchartsStock with RangeSelector during unmount throws error"
First of all, nice job for implementing this great highcharts react component.

I started to follow one of the highstock examples that has range selector; everything works well except when you change the route and component needs to unmount; it throws the following error.
`Uncaught TypeError: Cannot read property 'rangeSelector' of undefined`
When I remove the range selector everything goes normal

[2017-09-04 07:55] whawker commented on #22
Damn another unmounting issue. I can see you've made a fix commit above, planning to open a pull request?

[2017-09-04 11:57] axelduch commented on #20
@whawker Hi! So I found it easier to tweak the config rather than providing a CSS component, since other components were importing highcharts.

I guess that means a new module could be produced from this - react-jsx-highcharts-styled?

[2017-09-04 13:10] axelduch commented on #20
This might also just be considered a proof of concept and be implemented totally differently, I'm really not sure what would be best tbh.

[2017-09-04 13:23] cbergmiller commented on #21
I prepared a CodeSandbox to demonstrate the issue:
https://codesandbox.io/s/647xv8plpr

On first click on the button it throws an uncaught TypeError: `this.props.remove is not a function`

[2017-09-04 21:49] #21 closed

[2017-09-04 21:56] whawker commented on #21
Ok, so it seems that when your remove an Axis, Highcharts also removes the series bound to that axis, makes sense of course.

But it means that React JSX Highcharts was calling remove on a Series that had already been cleaned up. The commit above should fix that.

[2017-09-04 22:08] whawker commented on #21
Just published `react-jsx-highcharts@1.3.4-pre.1` as a beta. Let me know if that works for you. (I haven't published `react-jsx-highstock`, but if you need me to, let me know).

[2017-09-04 22:16] whawker commented on #21
P.p.s that CodeSandbox example is using a really old version of `react-jsx-highcharts` by the way.

[2017-09-06 08:51] axelduch commented on #20
@whawker on my end I have to use it in a hurry, so I'm gonna create an npm package with an explicit name to show that it is a temporary package, and unpublish it when this will be sorted.

Let me know if it is a problem for you, I don't want to make it awkward and will respect whatever you say about that.

Cheers.

[2017-09-06 10:11] whawker commented on #20
Fair enough, I've been mulling it over too. Wondering if we should inject the Highcharts global as a prop to the root component (with a `shouldComponentUpdate() => false`). Then we could provide the Highcharts global via context to the sub components that require it.

That way people can inject whatever Highcharts global they want, whether it be Highcharts/Highcharts style by CSS/Highstock/etc, or

[2017-09-06 10:28] axelduch commented on #20
I think being able to inject Highcharts would save a lot of unnecessary pain indeed

[2017-09-06 18:57] juwilliams commented on #18
Sweet, this works. Thanks for providing the example!

[2017-09-07 07:40] SumBeam commented on #22
@whawker Hey, thanks for your reaction. I'm running into the same issues.

I can create a pull request for you with this fix.

After this is fixed, can you make a prerelease of highstock and highcharts package on npm so I can test the new version?

Somehow I can't build the packages myself and include it to test into my own project..

[2017-09-07 12:04] whawker commented on #22
No worries of course, thanks for the PR!

Published
* `react-jsx-highcharts@1.3.4-pre.1`
* `react-jsx-highstock@1.3.4-pre.1`

[2017-09-07 18:43] SumBeam commented on #22
Thanks for the update! This problem is fixed with your new release :)

Got another unmount issue back for it, but I will create a new issue for that.

[2017-09-07 18:50] SumBeam opened #24 "Unmount issue with AxisTitle"
Hi, another unmount issue :(

I only have a minified stacktrace, but the code relates to this commit: https://github.com/whawker/react-jsx-highcharts/commit/78ceaabe76a212f1f066006fc5c531aed4bd5019

This was working in the 1.3.3 release.

[code]
[code]

And also this one:

[code]

[code]

[2017-09-07 18:59] theappbanq commented on #22
@whawker Sorry for the late reply, I didn't get any notification regarding your comment. Next time I would propose a pull request.

[2017-09-07 18:59] SumBeam commented on #24
I have a workaround to disable XAxis.Title and YAxis.Title to fix the AxisTitle unmount issue.

I can also disable the series, but that's the whole point of highcharts ;)

[code]

[2017-09-07 19:00] #22 closed

[2017-09-08 17:22] #24 closed

[2017-09-08 17:29] whawker commented on #24
Just published `react-jsx-highcharts@1.3.4-pre.2` and `react-jsx-highstock@1.3.4-pre.2` which should fix this issue.

Mind confirming and I'll publish a stable version?

[2017-09-08 22:52] SumBeam commented on #24
Problem solved, works for me :) Thanks!

[2017-09-11 18:27] whawker commented on #20
So I've been exploring options, I think this is my favourite. Any thoughts?

Basically using a HOC `withHighcharts` to inject the global. Kinda of like how `withRouter`/`injectIntl` works with React Router/React Intl.

[code]

[2017-09-12 09:09] axelduch commented on #20
+1 Simple and solves the problem.

[2017-09-26 16:15] will-stone opened #26 "Support colors"
Adding `colors` to plotOptions, or to Chart component as a prop appears to have no effect.

PS still loving this project over that _other_ React Highcharts wrapper :-) I'll try to patch and submit merge requests where I can, but can't see where this would go. Is it here? https://github.com/whawker/react-jsx-highcharts/blob/master/packages/react-jsx-highcharts/src/components/BaseChart/BaseChart.js#

[2017-09-26 17:19] whawker commented on #26
Glad you like it! 😀

Hmm I'm surprised that doesn't work, when you say passed "as a prop" do you mean...

[code]

`colors` wouldn't be passed as part of `plotOptions` as that is not how you pass it via Highcharts config.

[2017-09-27 09:52] will-stone commented on #26
Ahh, gotcha. I was misunderstanding how the config translated into props. I still find it a little confusing. It appears some top level config have their own components and some are expected to go on the HighchartsChart as props. Maybe all top-level config chould be components, and those that don't have child keys (like colors) use children? e.g.
[code]

[2017-09-27 09:52] #26 closed

[2017-09-29 18:54] codingarmadillo opened #27 ""Cannot read property 'hoverSeries' of undefined" error when switching series types"
I'm trying to switch between line and column displays dynamically, but I get the following error when switching

    Cannot read property 'hoverSeries' of undefined

I've created a minimal component that replicates the problem---checkbox that toggles the series. When I make the first switch, the series colour disappears, so something's presumably wrong at that point. Then, when I switch back, I ge

[2017-09-29 19:28] whawker commented on #27
I would guess, that the problem is that when the switch between  `LineSeries` and `ColumnSeries` occurs, the `LineSeries` component unmounts - which causes the series to be removed.

I would suggest to use the `Series` component _directly_. Series is the base component anyway - all the named series are just for convenience, they just pre-populate the `type` prop for you.

Something like...

[code]

[2017-09-29 19:35] codingarmadillo commented on #27
Great! That seems to work *and* made my code easier. Win-Win. Thank you.

[2017-09-29 19:35] #27 closed

[2017-10-03 12:47] busla opened #28 "Setting 'visible' prop on series not working"
Thanks for contributing this. Great stuff. Finally we can have initial animation when charts are renderd 👍

On another note, the visible prop doesn´t seem to work:
http://api.highcharts.com/highcharts/series%3Ccolumn%3E.visible

I´m trying to hide all categories except the first two.

Example from working code:

[code]

[2017-10-03 12:49] busla opened #29 "Feature request: Add drilldown"
Would be great to see drilldown as part of this library:
https://www.highcharts.com/docs/chart-concepts/drilldown

[2017-10-03 12:59] busla commented on #28
Oops, found it:

https://github.com/whawker/react-jsx-highcharts/blob/master/packages/react-jsx-highcharts/src/components/Series/Series.js

[2017-10-04 16:39] whawker commented on #29
Interesting, I wasn't even aware this feature existed! I'll look in to it!

[2017-10-04 16:50] busla commented on #29
Thanks!

[2017-10-04 16:54] #28 closed

[2017-10-04 16:58] whawker commented on #28
It appears to be working for me, could you post a fuller example?

Demo: https://codesandbox.io/s/zrk0v6zrpl

[2017-10-04 17:23] busla commented on #28
Should have been more descriptive, it works fine, just missing the visible props.

[2017-10-04 17:23] busla commented on #28
Found it in the code and used visible as props

[2017-10-05 12:42] will-stone opened #30 "Loading component"
I'd submit a pull request but thought it best to discuss with you first (and improve on my code 😄 ). How about a Loading component? Something like this:

[code]

And then used like so:
[code]

[2017-10-05 13:11] whawker commented on #30
Good idea, although most components in this library work on `componentDidMount`/`componentWillUnmount` hooks to trigger show/hide behaviour on Highcharts, rather than working off a prop;

[code]
It's also preferable the the `provideChart` HOC is applied in the `index.js` as it makes the component easier to test.
[code]

-----------------
I would love it if we could we could pass some child compone

[2017-10-05 13:15] will-stone commented on #30
Sounds good. However, if the data is being polled and passed in, how would you notify the Loading component that data is being fetched without a prop?

[2017-10-05 13:23] whawker commented on #30
Something like
[code]

Although, now I see it written out like that, it's possible overly complicated... hmm what're your thoughts?

[2017-10-05 13:25] will-stone commented on #30
No, that makes sense. Really, the only change is
[code]
to
[code]

I'm happy with that solution 😄

[2017-10-08 19:19] whawker commented on #20
I know I've been quiet on this for quite a while now, but just wanted to give you an update. It took me a while to get the tests working.

Pretty sure everything is working with this new pattern (see the [v2 branch](https://github.com/whawker/react-jsx-highcharts/tree/v2)), if you want to take a look, let me know what you think.

[2017-10-09 12:56] codingarmadillo opened #31 "Only last series updates when switching data"
I'm trying to update a chart using new data. It contains multiple series---the number varies dynamically.

When I update the data, only the last series is changed. I've tried cloning the data to make sure it's not a "pass by reference" issue, but that doesn't see to change things.

Here's some code that replicates the issue. When the data is toggled, the first two series remain unchanged from thei

[2017-10-09 12:56] codingarmadillo commented on #31
import React, { Component } from 'react';
    import { HighchartsChart, Chart, XAxis, YAxis, LineSeries } from 'react-jsx-highcharts';

    const data1 = [
        [34.402212, 35.24466, 36.089052, 36.934568, 37.78058, 38.626772, 39.473452, 40.320504, 41.167544],
        [0, 35.24466, 36.089052, 36.934568, 37.78058, 38.626772, 39.473452, 40.320504, 0],
        [10, 35.24466, 36.089052, 36.934568, 3

[2017-10-09 14:42] codingarmadillo commented on #31
I just upgraded highcharts to 6.0.1 and that seems to have fixed it.

[2017-10-09 14:42] #31 closed

[2017-10-10 23:35] ben-lucidfusion opened #32 "Navigator unmount error"
When using **Navigator** in a HighchartsStockChart, as soon as my main component unmounts (like navigating to another page using react router) I get spammed with this error when the mouse moves:

**highstock.js:436 Uncaught TypeError: Cannot read property 'normalize' of undefined
    at HTMLDocument.a.mouseMoveHandler**

If I remove the Navigator component, everything seems to be fine.

[2017-10-10 23:40] ben-lucidfusion opened #33 "RangeSelector.Button error"
The **RangeSelector.Button** component doesn't seem to be working properly.  You can actually see an example of the JS error in your demo:

https://whawker.github.io/react-jsx-highcharts/examples/Highstocks/index.html

If you include any kind of **RangeSelector.Button** in your code like this:
[code]

You'll end up with this error:
[code]

My "fix" for the time being is to just pass the buttons in

[2017-10-11 09:34] whawker commented on #33
I think the error on the demo page is because the example pulls in Highcharts 6.0 from the CDN (due to an oversight), which is a version I haven't officially supported yet.

There may still be a different issue with range selector buttons with Highstock 5.0.x though, I'll take a look.

[2017-10-11 11:06] anajavi commented on #20
I tried v2 branch using withHighcharts. Works nicely with styled mode.

Thank you for making this library, it is extremely nice and saves a lot of time working with Highcharts.

[2017-10-11 13:29] #32 closed

[2017-10-11 13:33] whawker commented on #32
Hmm, seems that Highcharts destroys the chart navigator with [`this.scroller.destroy()`](https://github.com/highcharts/highcharts/blob/master/js/parts/Chart.js#L1864)

The Navigator is mounted on [both `this.scroller` and `this.navigator`](https://github.com/highcharts/highcharts/blob/master/js/parts/Navigator.js#L2042) so now React JSX Highcharts does the same.

[2017-10-11 17:35] ben-lucidfusion commented on #33
First, I just wanted to say thank you for the amazingly fast response and AWESOME project you have created here. :)

I just did "npm install highcharts --save" not thinking about versions, and it looks like I got **6.0.1**.  That would certainly explain the issue.

[2017-10-11 17:49] whawker commented on #33
No worries, that's what it said in the readme after all! (I've corrected that now). Glad you like the project!

[2017-10-12 10:35] whawker commented on #33
So does switching to Highcharts 5.x.x fix the issue? Can I close this?

[2017-10-12 13:16] axelduch commented on #20
It's working but I struggled for a long time before understing that `YAxis` is now supposed to be a sibling of `LineSeries` and not a `parentNode` anymore.. or did I miss something?

Anyways, brilliant work man can't wait for the npm package to be updated.

[2017-10-12 13:47] whawker commented on #20
That wasn't intentional if that is the case! 😟 I'll look into it.

I haven't changed any of the [examples](https://github.com/whawker/react-jsx-highcharts/blob/v2/examples/SimpleLine/App.js#L33-L40) other than the addition of `withHighcharts`.

Would it help if I published a beta package, rather than requiring you to build from source?

[2017-10-12 13:54] axelduch commented on #20
Thanks! Yes I had a look at the examples as well, but just the source didn't actually tried to run them...

Also that would be great, yes! It would allow me to push my changes on the project using it!

[2017-10-12 14:10] whawker commented on #20
Ok, I've just published
* `react-jsx-highcharts@2.0.0-beta.1`
* `react-jsx-highstock@2.0.0-beta.1`

Could you let me know if you see the same issue?

[2017-10-12 14:21] axelduch commented on #20
Yes it takes more time than I would have thought, so just to let you know - I'm working on it :)

[2017-10-12 14:27] axelduch commented on #20
It's working great, no breaking changes from what I see, I don't know what I did... but all's well.

[2017-10-12 14:32] whawker commented on #20
That's a relief!

Just so you know, I'm toying around with being able to pass extra options as an optional third argument to `withHighcharts()` as I think that will help with Highcharts 6.0 support. But hopefully should publish 2.0.0 as stable within the next few days.

[2017-10-12 18:21] ben-lucidfusion commented on #33
I haven't had a chance to check yet, sorry. :(  Once I implemented my work around with the button array via a prop, I just moved on.  I will let you know as soon as I can.

[2017-10-13 21:32] mandajoan opened #34 "Highmaps?"
I am trying to use React with Highmaps. Currently using the react-highcharts package but am running into issues when trying to call the build in methods (example. .hide() ) in a method outside the config object.

I want utilize the state constructor in React to update the config object and think your documentation would be the approach I would like to take.

**The question is then, does react-jsx-

[2017-10-14 09:09] whawker commented on #34
Unfortunately there is no support for Highmaps at the moment. I haven't really used Highmaps so I'm not as familiar with it's internal workings.

I can have a look though! Or PRs are more than welcome!

[2017-10-16 17:57] mandajoan commented on #34
I would appreciate if you had a chance to take a look at what I have going on... I am going to set up a repo for my project. Can I have you take look once that's up? I am having an issue getting the highcharts methods to work. Right now I am using react-highcharts as a wrapper, so I am not sure if there is a conflict with the package and highmaps or if some how highmaps/highcharts just doesn't lik

[2017-10-16 17:58] mandajoan commented on #34
Depending on how I figure this out, I will see about a PR!

[2017-10-16 17:58] #34 closed

[2017-10-16 20:05] caguthrie opened #36 "Highcharts 6 question"
I see there is a dependency on highcharts@^5.0.0, has this been tested with highcharts 6?

[2017-10-16 20:27] whawker commented on #36
Yes, but there were a few issues which I haven't debugged yet. Which feature of Highcharts 6 were you looking to use?

[2017-10-16 21:29] whawker commented on #20
Just publish version 2! So this is now officially supported!

[See the example](https://whawker.github.io/react-jsx-highcharts/examples/StyleByCSS/index.html)

[2017-10-16 21:29] #20 closed

[2017-10-16 23:29] caguthrie commented on #36
Nothing specific.  Just was curious on the general functionality with
Highcharts 6.  Ran into this from the Highcharts blog (great article) and
really appreciate the work you've put into this, this is really awesome
stuff and a obviously a huge boon for any highcharts/react user.  Thanks

On Mon, Oct 16, 2017 at 4:27 PM, Will Hawker <notifications@github.com>
wrote:

[2017-10-17 07:57] whawker commented on #36
Cool, glad you like it!

Well now I've released version 2, Highcharts 6 is my next thing to look at, although there are a lot of new features so could take a while, I'll keep you updated.

[2017-10-17 10:06] axelduch commented on #20
Brilliant!

[2017-10-17 17:41] codingarmadillo opened #37 "Cannot read property 'chart' of undefined when upgrading to 2.0.0"
I'd upgraded from 1.4.0 to 2.0.0 and have the error:

    Cannot read property 'chart' of undefined

I've returned to 1.4.0 and it works.

Happy to poke around some more, but I'm having difficulty recreating it as a standalone test. If someone can orient me, happy to dig around. The stack trace didn't help me. Here it is:

    react-jsx-highcharts.min.js:1 Uncaught TypeError: Cannot read property

[2017-10-17 18:04] whawker commented on #37
Any chance you could share the chart component you're attempting to render? Would help me debug.

Are you using the new HOC `withHighcharts` in your component? It is required for version 2.

You can see an example of it's usage [here](https://github.com/whawker/react-jsx-highcharts/blob/gh-pages/examples/SimpleLine/App.js#L44)

[2017-10-17 19:17] codingarmadillo commented on #37
That's what it was---I wasn't aware of that change.

When I built a simple test case to try and isolate the issue, the chart worked, though---which is why I was struggling to locate it. Possibly caching then. But, regardless, the HoC seems to have been the issue.

[2017-10-17 19:17] #37 closed

[2017-10-17 19:19] whawker commented on #37
No worries, I'll make it way more obvious in the readme. Was worried this might happen!

[2017-10-17 19:23] codingarmadillo commented on #37
I looked at the list of notes and the top of the README and saw 1.2.0 and 1.3.0 listed, so I presumed there was no 2.0.0 info. So, even just adding 2.0.0 to that list and mentioning the HoC probably worthwhile.

[2017-10-19 20:11] codingarmadillo opened #38 "Crash when toggling a second (opposite) Y-Axis"
I have a second Y-Axis that I toggle on and off. After two cycles (on/off/on/off), I get a crash---every time (i.e. perfectly repeatable).

The problem seems to be with the <YAxis.Title/> component in the *secondary* series. If I remove that, it all works fine.

I've created a minimal App component that recreates the issue.

- react-jsx-highcharts@2.0.0
- highcharts@6.0.1

        import React, {C

[2017-10-20 07:14] whawker commented on #38
Hmm interesting, and thanks for the reproducible test case!

I'll look into it, in the meantime, I think you could workaround the issue by using a `title` prop on the YAxis, instead of the child `YAxis.Title` component. It's a lot messier looking (in my opinion) but should unblock you.

[code]

[2017-10-20 09:50] codingarmadillo commented on #38
Yes. Your workaround works. Thanks.

And I agree that your approach with the Title components is cleaner. Feels more idiomatic.

Thanks for all the great work on this, by the way. Very handy library.

[2017-10-20 10:19] codingarmadillo commented on #38
When I make that change I end up with a "double" opposite axis (i.e. the axis title and scale appear twice) and the opposite axis title remains when I disable that series. No console errors.

[2017-10-20 10:23] codingarmadillo commented on #38
Added the modified code as a gist:

https://gist.github.com/codingarmadillo/656e4a44b69fe3c48748f23d0fba0fce

[2017-10-20 13:26] whawker commented on #38
Oh dear, that's a bit rubbish. Seems the axis doesn't receive the remove function when it mounts, so it doesn't call it when it unmounts.

I think the Title sub component masked this second bug as it causes an axis update, which then caused the remove prop to be properly populated.

I'll investigate this urgently.

[2017-10-21 16:39] #38 closed

[2017-10-23 08:22] whawker commented on #38
Morning, so I've just published `react-jsx-highcharts@2.0.1-beta.1`. Would you mind verifying that it fixes your original issue? It fixes the slimmed down examples you provided.

[2017-10-23 09:54] codingarmadillo commented on #38
Yes, that appears to be working in the actual application too. Looks good. Thanks for your help.

[2017-10-26 14:59] shadowfool commented on #36
I'm interested in this as well. Not sure if it's just me being unfamiliar with the highcharts change log from 5->6 but it seems like the boost module was introduced in 5 but not implemented fully until 6. Having the ability to use the boost module in this module would be a huge upgrade.

[2017-10-28 01:57] ptchiangchloe opened #39 "Series props not working"
Hi,

I'm new to highcharts and your library so I found it's really hard to understand what's going on. There are a lot of Highcharts api I tried to use in the react component, however, nothing is working. Please let me how to work with Highchart Api, thanks! For example, I want to add tooltip to the series, but it doesn't work, I want to change the series' color into red, it doesn't work either.

[2017-10-28 10:16] whawker commented on #39
Hi @ptchiangchloe, assuming you're using React JSX Highcharts version 2, you'll need to use the `withHighcharts` wrapper.

When you export the `GuageChart` use;
[code]

Example [here](https://stackblitz.com/edit/react-wvsa4d?file=GaugeChart.js)

[2017-10-28 21:16] ptchiangchloe commented on #39
Hi @whawker,

Thanks for the answer. I'm kind confusing how you integrate different highcharts API in your component since I'm still new to Highcharts, is any docs you could provide? I mean like https://api.highcharts.com/highcharts/series.solidgauge.color. Why you put this property in the data props instead put as in the Series component props?

Thanks,

Han

[2017-10-29 18:49] whawker commented on #39
There is some documentation in the [wiki](https://github.com/whawker/react-jsx-highcharts/wiki), and perhaps the [examples](https://whawker.github.io/react-jsx-highcharts/examples/) may help too. Although it's worth noting Gauges aren't properly support yet (see issue #18)

If you look at the [Highcharts gauge examples](http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samp

[2017-11-07 09:58] whawker commented on #39
@ptchiangchloe is there anything further I can do to help here? I'm not sure what more can be done until we add proper support for Gauge charts (#18)

[2017-11-09 12:35] marcelobaez opened #40 "RangeSelector.Input focus"
I can't focus (click inside) neither on the examples or my own project's RangeSelector.Input. After some try and failure i figured out that it is possible to click right only in the edges of the inputs, but not on other areas

[2017-11-13 19:26] juwilliams opened #41 "Tooltip formatter scope"
Hey again,

Is there a recommended way to use the tooltip for correct access to the chart scope? The scope of this is redefined to the parent in my experiments and therefore I'm not able to make use of custom tooltip formatting.

![screen shot 2017-11-13 at 2 29 59 pm](https://user-images.githubusercontent.com/10916150/32744920-2b2bf032-c87f-11e7-9062-fec1d026db03.png)

![screen shot 2017-11-13 at

[2017-11-13 20:34] whawker commented on #41
If you avoid using the arrow function syntax, the function will just be called with the default Highcharts scope. Like [this example](https://github.com/whawker/react-jsx-highcharts/blob/gh-pages/examples/SynchronisedCharts/App.js#L45) which uses a normal function to avoid changing the scope.

[2017-11-13 20:50] juwilliams commented on #41
Oh yeah! I forgot about the contextual change due to anonymous functions. Thanks for the reminder!

[2017-11-13 20:51] #41 closed

[2017-11-14 11:12] adriantoine commented on #29
As a workaround it is possible to add the drilldown data to the `HighchartsChart` component.

For example:
[code]

And you also have to import and apply the highcharts drilldown package before using Highcharts:
[code]

It would be great to have a special integration in the library but for now this works fine!

Thanks for the nice library btw!

[2017-11-15 12:05] Gandy123 opened #42 "Labels support"
Hi,

thank you for your awesome job. I wonder is it possible to use highcharts labels ("https://code.highcharts.com/modules/series-label.js") with react-jsx-highcarts ? If you'll look at the simple example on highcharts site and your example they are the same except for the labels for line graphs.

[2017-11-15 12:13] bondz commented on #29
@adriantoine can you please, please, please provide a complete working example? I'm stuck trying to do this.

[2017-11-15 12:17] bondz commented on #29
Hmm, I seem to have figured it out, thanks though. @whawker brilliant library BTW.

[2017-11-17 12:02] Roberthaf opened #43 "A question about Reflow()"
Hey!
First of, awesome work I really enjoy using your library its been working like a charm!

I am a rather new react user and I wanted to ask how you would handle using highcharts .reflow().
I have a highchart that is hidden under a tab with Display: none.
And when its initially rendered it has no height and width properties, so the chart will get some default value w:777 h:400 f.x.
So I would ne

[2017-11-20 01:30] whawker commented on #43
Hi, thanks! Glad you're happy with the library.

Interesting, I should add proper support for reflow. In the meantime I would suggest creating a custom component with the `provideChart` HOC.

[code]

Then insert that Reflow component as a child of your `HighchartsChart` component.

I can't check for certain if my example above works, as I'm on holiday at the moment, so don't have my laptop (only h

[2017-11-21 10:49] TiagoSaAdvizr opened #44 "Cannot read property 'padding' of undefined"
Hello,
First of nice work!
Secondly, I have been trying to implement your example [StyleByCSS](https://github.com/whawker/react-jsx-highcharts/blob/gh-pages/examples/StyleByCSS/App.js) but I am getting this error:
What am I missing? everything works fine, except tooltip.
[code]

My code:
[code]

Thanks

Note:
If we pass padding inside style prop, it doesn't crash, but `pointFormat`, `valueSuffix`,

[2017-11-21 10:53] TiagoSaAdvizr commented on #44
Apparently we are looking for `padding` inside `style` if I do this:
```<Tooltip style={{padding: 8}}/>```
If works fine.

[2017-11-21 16:10] Roberthaf commented on #43
Okey that is interesting.

I will do a test and let you know what I find out!
Thanks for the help.

[2017-11-24 15:52] mindjuice opened #45 "Properties of <Chart/> not updating when changed"
Hi...first, let me say thanks for this project.  I was considering doing something like this for Highcharts, because....well...declarative graphs FTW!  Now I can just use this and help make it better.

I'm running into an issue here where I want to be able to change the`backgroundColor` of the chart (among other things like margins, borders, etc.)  The problem is that if I change a prop of the `<C

[2017-11-27 21:09] whawker commented on #45
You're right, there is a bug. I haven't implemented `componentDidUpdate` on the [Chart](https://github.com/whawker/react-jsx-highcharts/blob/master/packages/react-jsx-highcharts/src/components/Chart/Chart.js) component.

Sorry for the late reply, been on holiday for the last two weeks. I'll get this fixed asap.

[2017-11-27 21:50] #45 closed

[2017-11-27 22:15] whawker commented on #44
I'm not too sure on this one, I'm struggling to reproduce it. Could you provide a bit more information?

Such as;
* Highcharts version?
* Are you exporting your Chart using `withHighcharts`?
* Are you using server side rendering?

Sorry for the late reply, been on holiday for the past 2 weeks!

[2017-11-27 22:28] mindjuice commented on #45
Thanks for the quick fix!  I had worked around it for `Chart` for the moment by always re-rendering it, but I noticed that something similar is also happening for `LineSeries`, which seems more unexpected, since it does implement`componentDidUpdate()`.

I set the `color` prop on it and when the prop changes, the line doesn't update.  Not sure if it is related to the fix above somehow.  I can see t

[2017-11-28 00:07] TiagoSaAdvizr commented on #44
Hi @whawker thanks for you reply,
- Version
-- 6.0.3
- Are you exporting your Chart using `withHighcharts`?
-- Yes
- Are you using server side rendering?
-- No,  Client side

No worries, I gave up.
End up writing a wrapper of my own, it was for a very small proof case.

Thank you.

[2017-11-28 00:07] #44 closed

[2017-11-28 10:20] #40 closed

[2017-11-28 11:48] whawker commented on #45
I've just published `2.0.2` with the above fix, although I'm not seeing the same issue with the `LineSeries` color you mention. See my example [here](https://whawker.github.io/react-jsx-highcharts/examples/UpdateChart/) (using [this code](https://github.com/whawker/react-jsx-highcharts/blob/master/examples/UpdateChart/App.js)).

I usually render the chart with a `<Debug />` component, which consol

[2017-11-28 11:50] HachimDev opened #46 "Highcharts Error #18"
Hi, so im getting this error when im trying the code for highstock [here](https://github.com/whawker/react-jsx-highcharts/blob/gh-pages/examples/Highstocks/App.js)
the error is
_Highcharts Error #18
The requested axis does not exist
This error happens when you set a series' xAxis or yAxis property to point to an axis that does not exist._

here is my component :
[code]

https://jsfiddle.net/gmw3od

[2017-11-28 12:04] whawker commented on #46
Hi @HachimDev, I think the problem here is with

[code]

I haven't actually exported that helper as part of the React JSX Highcharts npm package (note the relative link), as it was just for use in examples

In [this example](https://stackblitz.com/edit/react-w6rhuu?file=DemoChart.js) I have inserted the missing functions into the code, and everything seems to be working for me?

[2017-11-28 12:21] HachimDev commented on #46
Hi @whawker , i have added the folder _utils_ to my demo project and it doesnt work.
thank you for the example but it still doesnt work for me.
I have to say that the first highchart example works fine for me.
so i guess the problem is with my package.json.
Any suggestions ?
[code]

[2017-11-28 12:28] HachimDev commented on #46
Yeah after comparing my dependencies to yours in your example i figgured out that i needed highcharts@6.0.0
that was the problem.
now it works fine !

[2017-11-28 13:13] whawker commented on #46
Hmm that's odd! Seems to work fine even with 5.x.x for me. But if you're happy, feel free to close this issue.

[2017-11-28 13:39] HachimDev commented on #46
thank you  !

[2017-11-28 13:39] #46 closed

[2017-11-28 16:14] whawker commented on #40
Hi @marcelobaez, the fix for this has been published in version `2.0.2`. Thanks for the heads up!

[2017-11-28 16:21] Roberthaf commented on #43
Just an update on the Reflow component.
I did not get the .reflow working. I was not getting any error or nothing it was just not working.
I'm guessing the "problem" is somewhere else.

Just for fun and if someone else has this problem.
I did a simple work around. this.handleSelect saves the activeKey to the state and when the this.state.key matches the tab number, I render the charts. Works like

[2017-11-30 22:41] mindjuice commented on #45
Confirmed that this worked for the chart properties in my project.  Thanks for getting it fixed (and released) so quickly!

The other issue I had where `LineSeries` components were not updating was because I hadn't added `id` props to them.  The props are updating when the values change now.

[2017-12-01 19:54] surmistry opened #47 "File missing in npm package: src/components/withHighcharts.js"
NPM package does not match git repo
Assuming nothing is rendering because of the missing withHighcharts( App, Highcharts ); line causing an Error: withHighcharts is not a function

![screen shot 2017-12-01 at 2 51 06 pm](https://user-images.githubusercontent.com/4741146/33500564-3b3b20ac-d6a7-11e7-9167-37049ef19c19.png)

[2017-12-01 19:57] whawker commented on #47
Which version number is displayed in the `package.json`? `withHighcharts` wasn't added until 2.0.0

[2017-12-01 20:01] surmistry commented on #47
Thanks for getting back so fast, i'm on 1.4.2, but I ran npm update react-jsx-highcharts and it didn't update, what's the CLI to get the latest package?

[2017-12-01 20:02] whawker commented on #47
That would be `npm install --save react-jsx-highcharts@^2.0.0`

[2017-12-01 20:07] surmistry commented on #47
Got it compiling properly on 2.0.2 and it's saying that the requested series still doesn't exist (highcharts.com/errors/17) and I CTRL+C/V this file into my App.js file? https://github.com/whawker/react-jsx-highcharts/blob/gh-pages/examples/Treemap/App.js

[2017-12-01 20:10] surmistry commented on #47
Removing the <ExampleCode /> component is the only thing I changed

[2017-12-01 20:19] whawker commented on #47
Treemaps require the additional Highcharts modules `treemap` and `heatmap`.

You need to import the additional modules and apply them to the Highcharts obj.

i.e.
[code]
or

[code]

[2017-12-01 20:24] surmistry commented on #47
I figured as much, wasn't sure whether TreemapSeries was doing an include there and then noticed /Series folder was empty and got confused hahah
I wanted to design my own Treemap algorithm and wanted to use this library as a bridge to have access to 'highcharts' then compile into react.  I'm assuming that I'd be able to declare a new treemap protoType and pass the string to layoutAlgorithm?

*(ama

[2017-12-01 20:26] whawker commented on #47
No worries 😄

I would think so, although to be honest I haven't used Treemaps all that much myself.

[2017-12-01 20:31] surmistry commented on #47
Yeah I've been prowling for a good custom React Treemaps lib and was running on fumes
I can update you on progress if you'd like :joy:

[2017-12-02 12:04] whawker commented on #47
Sure thing! I'm going to close this issue, seems as the originally issue was fixed.

[2017-12-02 12:04] #47 closed

[2017-12-02 12:13] whawker commented on #43
Hi @Roberthaf I've pushed some changes (not yet released) that allow for reflow by providing a function to a new `callback` prop. See example [here](https://github.com/whawker/react-jsx-highcharts/blob/master/examples/Reflow/App.js#L37).

The idea is that the function you pass to the callback prop, will be called with the Highcharts chart object when the chart is created. That way you can call ref

[2017-12-02 12:14] whawker commented on #39
Closing due to inactivity

[2017-12-02 12:14] #39 closed

[2017-12-02 12:28] whawker commented on #42
It seems there is nothing for the library to add here.

All you would need to do is apply the series-label module to the Highcharts object. See line 7 and 8 in the example [here](https://stackblitz.com/edit/react-ewdgiu?file=SplineChart.js)

[2017-12-02 12:30] whawker commented on #33
@marcelobaez that issue with `RangeSelector.Input`s should be fixed now, the fix was released in 2.0.2 (or 1.4.2, if you're using the previous version)

[2017-12-03 13:13] HUSSTECH opened #48 "Publish v2.0 to npm"
Hey, is version 2.0+ going to be making its way to npm anytime soon? Unfortunately `npm install` and `yarn add` do not support multiple packages in a repo, so I couldn't just add the latest version of this library via github directly. Thanks!

[2017-12-03 18:20] #30 closed

[2017-12-03 18:27] whawker commented on #48
Hi @HUSSTECH version 2.0 is already published on NPM. I backported a fix to the 1.0 branch seems to confused NPM with that the latest version is.

`npm install --save react-jsx-highcharts@^2.0.0` should fix it in the meantime.

[2017-12-03 18:38] HUSSTECH commented on #48
awesome thank you @whawker

[2017-12-03 18:38] #48 closed

[2017-12-03 19:50] whawker commented on #30
Hi @will-stone I've just published the new `<Loading />` component in 2.0.3, here is [an example](https://whawker.github.io/react-jsx-highcharts/examples/Loading/index.html) of it's usage.

[2017-12-03 20:43] will-stone commented on #30
That's great, thanks!

[2017-12-04 08:45] Gandy123 commented on #42
Thank you, this was very usefull

[2017-12-04 08:45] #42 closed

[2017-12-04 22:41] mindjuice opened #49 "YAxis shows no numbers when Series is wrapped in a div"
If you create a hierarchy that has a two `YAxis` objects, each with a `Series` as a child, but the `Series` objects are actually wrapped in a `<div>`, then the range of the second `YAxis` is not shown.

[code]

Live Example:
https://codesandbox.io/s/p3xrwv36m0

Notice that the Social Buzz axis has no numbers.

Remove the `<div>` around the the `Series` and it works.

In my case, this is happening

[2017-12-04 22:45] mindjuice commented on #49
Note that this does not happen if you have a single YAxis, and wrap it in a `div`.

[2017-12-04 22:50] mindjuice opened #50 "YAxis numbers sometimes overlap the graph when on the right"
When rendering a `YAxis` on the `opposite` side (right), sometimes the numbers overlap the graph itself.

Live Example:
https://codesandbox.io/s/zql6o1kzx3

This only seems to happen if the `opposite` axis is rendered first.  If there is a left axis and then an `opposite` one, it works fine.  If there is only one axis, but it is `opposite`, then it overlaps.

[2017-12-04 23:05] whawker commented on #49
It's quite a brittle solution (I'll keep investigating), but if you can estimate the maximum individual value of the series your second axis will contain you could add a `max` prop to enforce a range to display.

[code]

[2017-12-04 23:21] mindjuice commented on #49
FYI, I just tried updating to React 16 and returning a Fragment instead of a `<div>`, but that doesn't work either.

Adding the `max={150}` had no effect for me.

It also doesn't matter if the second axis is `opposite` or not.  The numbers don't show either way.

[2017-12-05 17:27] surmistry commented on #47
_update:_
@whawker You can define your own custom algorithm and pass it into layoutAlgorithm={}
It's really intuitive, except for the width-height params are not quite in px/em/%  but that's just how they're defining their highchart library https://www.highcharts.com/docs/chart-and-series-types/treemap!! Great library continuing to prove it's abilities to facilitate HighchartsJS

[2017-12-05 19:26] whawker commented on #49
Interesting, thanks.

This seems to work, in [this example](https://stackblitz.com/edit/react-mggihj?file=SeriesWrapper.js) I've used an intermediary component called `SeriesWrapper` that passes the `dimension` and `axisId` props through to the series. These props are usually passed from the axis to the child components (expected to be Series components).

P.s. I prefer StackBlitz to CodeSandbox,

[2017-12-05 19:33] whawker commented on #50
I'm not sure what I can do to fix this, the [same issue](http://jsfiddle.net/3kf5t489/1/) happens with Highcharts itself.

[2017-12-06 09:56] Roberthaf commented on #43
Hi,
It looks really good.
I tried it out on one of my components and it works.
Its very good to be able to access the  Highcharts chart object using the callback.
This might come in handy with doing various other HC stuff as well :)

Very nice work!

[2017-12-06 10:43] whawker commented on #43
Great stuff! Thanks!

[2017-12-06 10:43] #43 closed

[2017-12-07 08:01] adamalawrence opened #51 "How does this library compare to https://github.com/kirjs/react-highcharts?"
I'm deciding which one to use. The react-highcharts is obviously more popular, but I'm wondering, @whawker, if you'd describe some reasons to use react-jsx-highcharts over the other? Thank you!

[2017-12-07 13:46] nslocum commented on #51
`react-jsx-highcharts` provides a declarative interface to the highcharts library.

React is declarative in nature and unfortunately, `react-highcharts` doesn't provide a declarative interface to the Highcharts library. It's really just a dumb wrapper that gives you easy access to their raw charting API. It does very little beyond that and doesn't adhere to how React apps are built. Because of thi

[2017-12-07 13:49] #50 closed

[2017-12-07 14:17] whawker commented on #51
Thanks @nslocum!

As Nick mentioned, the main motivation for this library was to enable dynamic charts, by making Highcharts charts behave like a React developer would expect.

Breaking the chart down into separate components means that we can intelligently update the Highcharts object behind the scenes depending on which React props changed. Rather than passing a large config object as a single p

[2017-12-08 15:27] adamalawrence commented on #51
Thanks for the overview! You clearly put a lot of thought into your design.

[2017-12-08 23:05] mindjuice commented on #49
Thanks, the little hack of passing the `dimension` and `axisId` through did the trick! 👍

Do you think long term these should be passed in the context instead?

[2017-12-11 16:53] mattspeller opened #52 "Updating Live Data on LineChart"
Hey buddy, thanks for all the awesome work with this project.

Please see the sandbox linked here - [CodeSandbox.io](https://codesandbox.io/s/x2pw85rq8w)

I am trying to update data to show a series of updated points on a chart. The similar code works on a pure HighChart js control, however I think something funky is happening under the covers when setting the state,

Basically setting new state f

[2017-12-11 17:20] adriantoine opened #53 "onLoad on the Chart component doesn't work"
Hi!

First of all, thank you for your nice library!

I have found an issue which is that the `load` event doesn't seem to work, here is a minimal example: https://codesandbox.io/s/qxn6z5r589
I have copied an example from the documentation and used the `onLoad` and `onRender` callback on the `Chart` component. If you open the DevTools you'll notice that the render even is triggered but the load eve

[2017-12-11 22:29] whawker commented on #52
Hi @mattspeller, the problem here is how array props should be updated when using React.

React performs a comparison of the props when deciding whether to re-render. if you push to an array, without cloning it, React considers them equal as they have the same memory reference. Therefore you must *clone the array* and _then_ push changes *to the clone*, then you'll see the changes you expect (FYI

[2017-12-12 00:35] whawker commented on #53
Ah damn, that's annoying.

As a workaround (depending on your use case) you might be able to use the `callback` option added in 2.0.3 - see [here](https://stackblitz.com/edit/react-ayaebf?file=index.js_)?

[2017-12-12 09:37] mattspeller commented on #52
makes perfect sense - thanks for finding time to respond.

[2017-12-12 09:37] #52 closed

[2017-12-12 09:39] adriantoine commented on #53
Hi @whawker, thanks for the quick reply! I tried the callback option, it seems to work although at the time it is executed, the `series` are not on the chart, here is the updated example: https://codesandbox.io/s/qxn6z5r589. When I log the series from the `onRender`, I get 5 series but 0 when I log them from `callback`.

[2017-12-12 11:14] adriantoine commented on #53
I found out that for my use case, the load event wouldn't work either as the series are added after the initial load in this library.

[2017-12-12 13:17] mattspeller opened #54 "Multiple charts on same page share context"
Hello

I am using a layout control where a user can add multiple charts as individual components on a single page. In this case, I would like to interact with the chart instance using the underlying highcharts object so I can call the apis as needed.

(You can see my conversation with highcharts [here](https://forum.highcharts.com/highcharts-usage/realtime-treemap-usage-resets-drilldown-on-change-

[2017-12-12 23:10] whawker commented on #54
Hi @mattspeller, the easiest way to get the underlying chart object is to use the `callback` prop added in version 2.0.3.

You provide a function to the callback prop, which will be called with the chart object once it is loaded.

I've modified [your example](https://stackblitz.com/edit/react-rjs6iv?file=CoupleOfLines.js) to highlight the chart and series relative to the button in the `CoupleOfLin

[2017-12-12 23:26] whawker commented on #53
What exactly were you trying to achieve with the load event?

[2017-12-12 23:27] #51 closed

[2017-12-13 00:34] juwilliams opened #55 "Multiple YAxis rerender issues"
I noticed a strange issue this evening when using multiple YAxis in a single chart. Only the first YAxis updates on rerenders triggered by prop updates.

![image](https://user-images.githubusercontent.com/10916150/33915814-9c57d326-df62-11e7-9305-a0c44d463a4b.png)

Confirmed this behavior by swapping the order of the YAxis from the image above.

Any ideas?

Thanks!

[2017-12-13 00:59] whawker commented on #55
Would you be able to post a fuller example? It's difficult to debug those few lines out of context.

Do you mean the axes / titles themselves aren't updating? Or the series contained within them?

I've got an [example here](https://stackblitz.com/edit/react-yg2lm2?file=index.js) of two axes, each with a single series, which dynamically update their data.

[2017-12-13 04:51] juwilliams commented on #55
Thanks again, you're example sent me down a thought tunnel that proved useful. The issue was a duplicate id prop on the two series in question. Is the 'id' prop on the series used internally as a react key?

[2017-12-13 09:48] whawker commented on #55
It's not used as a React key, but as a means of letting the React component know which Highcharts object behind the scenes it should be interacting with. There a wiki page on IDs [here](https://github.com/whawker/react-jsx-highcharts/wiki/id-props-%28important%21%29).

[2017-12-13 09:51] adriantoine commented on #53
What I need to do is to execute a drilldown when opening the graph (in my use case the graph should be shown "drilled down" to a specific point from the beginning). I rolled back to `react-highcharts` and it works great for my use case, here is an example of what I'm trying to achieve: https://codesandbox.io/s/rr82porw4q

As you can see I want to use `doDrilldown` on a specific point of a series o

[2017-12-13 15:24] juwilliams commented on #55
Ah ok, thanks again!

[2017-12-13 17:31] mattspeller commented on #54
wonderful - works a treat. I have been educating the guys on the highcharts forum how to use your wrapper :)

[2017-12-13 17:31] #54 closed

[2017-12-14 11:18] #55 closed

[2017-12-14 11:19] whawker commented on #53
Ah, ok. I do need to add proper support for drilldown (see #29).

[2017-12-15 05:56] unofang opened #56 "Add Highmaps support"
Thanks for your great package!

I am doing a project to visualise a big sized dataset with longitudes and latitudes. As there is no example for map-data graphs, is there anybody know how to do the basic configuration? Thank you very much !

[2017-12-15 09:23] whawker commented on #56
Unfortunately I haven't added support for Highmaps yet, sorry. It is definitely something I would like to add though!

[2017-12-18 05:07] Ricardo-C-Oliveira opened #57 "Exporting capabilities?"
Is there a way to use highcharts exporting capabilities with this library?
I love the declarative nature of how this library was implemented, so i was hoping that the there is a similar way to implement the chart exporting feature.

[2017-12-18 08:47] bondz commented on #57
@Ricardo-C-Oliveira Are you looking to implement client side exporting or server side exporting?

For client side exporting.

[code]

That should get you offline, client-side exporting.

[2017-12-19 04:01] adamalawrence opened #58 "Stacked Area line chart?"
Hi @whawker, does your library support stacked area charts? (https://www.highcharts.com/demo/area-stacked)

[2017-12-19 04:11] adamalawrence opened #59 "Smooth Navigator scrolling?"
Hi @whawker, specifically for highstocks, does your library support smooth navigator scrolling, like in this demo: https://www.highcharts.com/stock/demo/basic-line

With the react-jsx-highcharts demos and my own implementations, I've noticed dragging the navbar window jumps the series to that section, rather than scrolling with the window.

Thanks!

[2017-12-19 16:41] whawker commented on #58
Yep, just need to use the `AreaSeries` component for your data, and pass in the `plotOptions` as a prop on the `HighchartsChart` component. [See here](https://stackblitz.com/edit/react-czgmxq?file=MyChart.js)

[2017-12-19 16:45] whawker commented on #59
I'm not sure what you mean, clicking the Navigator seems to have the same behaviour for me?

[2017-12-20 04:53] Ricardo-C-Oliveira commented on #57
Oh great! This is exactly what I was looking for!

[2017-12-20 04:53] #57 closed

[2017-12-20 08:32] whawker commented on #57
Thanks for the help @bondz!

[2017-12-22 14:55] #58 closed

[2017-12-22 22:39] surmistry opened #60 "Cannot render 'chart' of undefined"
Hi again @whawker I'm getting this error using react-jsx-highcharts

![screen shot 2017-12-22 at 5 37 19 pm](https://user-images.githubusercontent.com/4741146/34314145-d72ff3d2-e73e-11e7-88a0-919aefd5edd9.png)

I successfully compiled my own custom algorithm in one react boilerplate I was using, then I migrated to create-react-app and found this error, here's what my imports look like:

[code]

[2017-12-23 10:12] whawker commented on #60
Hi @sumistry, with React JSX Highcharts v2 you need to use the `withHighcharts` wrapper to inject the Highcharts global. See [here](https://github.com/whawker/react-jsx-highcharts/wiki/Upgrading-from-1.x-to-2.x) or the [examples](https://whawker.github.io/whawker/react-jsx-highcharts)

[2017-12-25 14:17] surmistry commented on #60
I had that at the app level on the previous react app, thanks and merry christmas

[2017-12-25 14:17] #60 closed

[2018-01-03 10:33] TwoLaid commented on #52
Sorry to comment on a closed issue, but I have a follow-up question for this.

To me it looks like because we need to clone the data array each time we add a new data point, the graph is completely redrawn and rerendered every time. Is that correct? That seems terribly inefficient and also appears to be the reason why I cannot get the animation to work like in the previously mentioned [example her

[2018-01-04 14:14] whawker commented on #52
Hi @TwoLaid, the entire graph shouldn't be redrawn but the single series (related to the data array) will be re-plotted.

I did investigate comparing the nextProp data length, if it is one greater than the prevProp length, we could use the `addDataPoint` Highcharts method, which would be slightly more efficient than `setData`. But I figure that might be too naïve for more complex use cases.

[2018-01-08 17:10] mattspeller opened #61 "100% height intermittently ignored"
Hello

I have followed the Highchart documentation to set the TreeMap larger than the default 400px, but setting the height in the chart element to 100%.

However I see that no effect for this setting (immediately at least). Sometimes the grid re-draws correctly to 100% but most times it stays at the default 400px tall.

Please see below for an example, I would not expect to see any of the red reg

[2018-01-11 23:57] ricopella commented on #36
First off, love this project and this is exactly the approach my company would like to take while building with highcharts. However, something we're planning on using often is the Sankey Diagram, which was introduced in Highcharts 6. That wouldn't happen to be one of the first version 6 feature's you're planning on tackling, would it?

[2018-01-16 07:24] truongkma opened #62 "Highcharts error #17"
I use AreaRangeSeries and data are [[1.1, 3.6], [1.8, 2.7], [1.7, 5.6]...].
Can give me example data use for AreaRangeSeries. Thank u
[code]

[2018-01-16 19:11] whawker commented on #62
The Range series [are a Highcharts More series type](https://www.highcharts.com/docs/chart-and-series-types/range-series), you need to import `highcharts-more` to include the extra series types.

[code]

[See here](https://stackblitz.com/edit/react-h8vv4q?file=AreaChart.js)

[2018-01-16 19:11] #62 closed

[2018-01-16 19:23] whawker commented on #61
I'm not sure this is a React JSX Highcharts issue, the same appears to happen when [using the Highcharts library directly](http://jsfiddle.net/t6mfkkn9/)?

[2018-01-16 19:24] whawker commented on #36
Hi @ricopella, yes ideally that would be. There just seems to be a bug with Highstocks v6 and this library, which I really change figure out. As soon as I get to the bottom of it though, Sankey charts will be a priority!

[2018-01-17 09:29] mattspeller commented on #61
hmmm.. not sure about that. Here is a link to a fiddle I copied from the highcharts demo samples with the height set to 100% - you can see it correctly sizes immediately.

http://jsfiddle.net/xz76723g/

It's definitely a limitation of the react wrapper around a charting component. I have seen the same for a column series and a treemap.

[2018-01-22 00:39] whawker commented on #36
Hi @caguthrie, @shadowfool and @ricopella - I've just published `react-jsx-highcharts` and `react-jsx-highstock` version 2.1.0 which adds support for Highcharts 6!

See the [Sankey](https://whawker.github.io/react-jsx-highcharts/examples/Sankey/index.html) and [Stream Graph](https://whawker.github.io/react-jsx-highcharts/examples/StreamGraph/index.html) examples!

[2018-01-22 00:39] #36 closed

[2018-01-22 15:58] shadowfool commented on #36
Great, I'll try it out with boost later.

[2018-01-23 07:32] Chikel opened #63 "plotOptions not updating on re-render"
Hi there,

It seems that chart config options are not changing on component rendering.
I have this plotOptions object inside my render function:
[code]

the `this.getDataLabelFormat()` gets the data labels format on each render.
When I get a new prop that is inserted to the format, it doesn't change the data labels.
I had the same issues with other properties in plotOptions and Series props also.

[2018-01-23 17:40] cueas-rickmoore commented on #59
@whawker Dragging is an entirely different operation than clicking.  In your product, when the navigator is dragged, nothing happens until you stop the drag. Default behavior in Highstock is to continuously scroll the chart as you drag the navigator. Please explain how to make this work correctly in react-jsx-highcharts.

[2018-01-26 11:03] danloiterton commented on #36
@shadowfool, any luck with the boost module? How do you import modules with this library anyway? I've tried simply adding `import 'highcharts/modules/boost';` but it doesn't seem to work

By the way @whawker, thanks for this module - it's really great!

[2018-01-26 18:46] shadowfool commented on #36
@danloiterton I haven't tried it myself yet but it looks like the way you'd do this is by wrapping Highcharts with boost.
@whawker whawker does something similar in this ticket https://github.com/whawker/react-jsx-highcharts/issues/62

His example:
[code]

Perhaps we need updated documentation on these features?

[2018-01-27 15:48] whawker commented on #33
Confident this was fixed in 46a96668415ab435f1718f69aceaadaf53779d9f.

[2018-01-27 15:48] #33 closed

[2018-01-27 15:57] whawker commented on #36
@shadowfool is correct with his implementation, and that this is more a Highcharts feature than React JSX Highcharts, but I can make a reference to it in the documentation.

Ideally I'd migrate the examples to CodeSandbox/StackBlitz which would make this kind of thing way more obvious, rather than using browser based globals like I do currently.

[2018-01-29 22:48] pythoncreate opened #64 "Chrome Console Error"
i'm getting this error in chrome dev tools.  doesn't appear to be hindering performance but wondering if anyone knows what this might be?

[code]

[2018-01-30 08:45] whawker commented on #64
That stack trace would suggest the error is coming from a Chrome extension you have installed. Googling the extension ID (`ildhoddlaaaneelljhohbndmjbjbfgcl`) suggests is might be [Avaya Collaboration Services](https://www.reasoncoresecurity.com/manifest.json-cac3a2923ed7e6bac9e73902d9104fc340704e80.aspx), do you have that extension installed?

If you try running Chrome in Incognito mode, (which sh

[2018-01-30 10:01] AnDrOlEiN opened #65 "Indicators support?"
Does this library supports indicators such as [EMA](http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/stock/indicators/ema)? I tryed to add it like  `<Series type="ema" linkedTo="myChart" />` but i am getting `Uncaught TypeError: b.init is not a function` error

[2018-01-30 10:18] AnDrOlEiN commented on #65
My bad, to use indicators, you should import `require('highcharts/indicators/indicators')(Highcharts)` and `require('highcharts/indicators/indicatorThatYouNeed')(Highcharts)` modules

[2018-01-30 10:18] #65 closed

[2018-01-30 13:57] pythoncreate commented on #64
yeah i think you are right --this is an extension issue--works fine in incognito mode.  I will investigate further.  Thanks!

[2018-01-30 14:19] whawker commented on #64
No worries!

[2018-01-30 14:19] #64 closed

[2018-01-30 19:19] mindjuice opened #66 "Graph Not Redrawing Correctly When Updating Data Quickly"
I've got a graph where data is being delivered asynchronously in batches.

When the first batch or two of data is received, the graph draws correctly.  As subsequent batches of data are added however, the main graph does not always update, even though you can see the data appear in the navigator control.

The code is creating a new data array each time a new batch is received.

If I click and drag

[2018-01-31 23:27] pythoncreate opened #67 "Chart Not Loading Data"
hey guys--love your package--just really want this to work.  I'm pulling in data from an api, and I've quadruple checked it and it appears to be in the right format.  I just have an array of arrays with date and price.   I just for the life of me can't figure out why it's not loading the data.  Any ideas?

https://codesandbox.io/s/13om50k2p4

[2018-02-01 00:30] pythoncreate commented on #67
figured this out ---delayed showing the data and seems fine now

[2018-02-01 00:30] #67 closed

[2018-02-01 00:31] pythoncreate opened #68 "To Date in Right Showing the Wrong Date"
Hi please see my code--showing a date ten days from now

https://codesandbox.io/s/13om50k2p4

[2018-02-02 16:20] whawker commented on #68
That is odd, in the meantime as a workaround, you can add the mix and max values in your state to the `XAxis`. Which fixes the issue.

[code]

P.s. As an aside, I think you are computing the initial `now` data incorrectly,

instead of
[code]

I think you mean
[code]

[2018-02-02 16:22] whawker commented on #66
Would it be possible to post your code in CodeSandbox or something? I difficult to figure out what exactly is going wrong from just the video.

[2018-02-02 16:23] whawker commented on #63
Would you mind posting an example in CodeSandbox? So I can better investigate what's going on?

[2018-02-02 16:47] whawker commented on #61
It's likely due to how the chart options are applied _after_ the chart is initialized.

As a work around, you could ensure they are set at initialization, by passing them on the `HighchartsChart` object

[code]

[2018-02-02 18:21] pythoncreate commented on #68
absolutely on point.  thanks so much.

[2018-02-02 19:27] #68 closed

[2018-02-03 19:50] pythoncreate opened #69 "Chart Not Re-Rendering Upon Change in Data/Props"
Hi I'm passing a query input from a user to my Graph component, which is fetching data from an API based on the user query.  Looks like it is hooked up correctly and data is pulling fine, but chart isn't re-rendering.  Is there something I need to do to get the graph to respond to any updated data?

[2018-02-03 20:05] pythoncreate commented on #69
might be hard to tell what I'm referring to without the input/search components, but here is my graph component code  https://codesandbox.io/s/13om50k2p4

[2018-02-04 14:16] whawker commented on #69
I suspect the issue in that your `YAxis` and `AreaSplineSeries` have the same `id`. When props change React JSX Highcharts updates the wrong chart component behind the scenes.

[2018-02-05 05:14] mindjuice commented on #66
Hrmmm...yeah...it's part of a huge project that isn't open source.  I'll have to see if I can find some time to repro it with a subset of the code.

[2018-02-05 15:46] pythoncreate commented on #69
so when i change to this....
[code]
when i fetch data from new prop the chart shows now as blank--am i doing something wrong?

[2018-02-05 16:13] pythoncreate commented on #69
figured it out--navigator had wrong ID.  thanks for your help!

[2018-02-05 16:20] pythoncreate commented on #69
actually seems to be only re-generating if i play with the graph.  does this look right?

[code]

[2018-02-05 16:23] pythoncreate commented on #69
Oddly enough--if i remove the Navigator--it works fine..so not sure if i'm doing something wrong with that?

[2018-02-05 16:33] pythoncreate commented on #69
my updated code if you need it https://codesandbox.io/s/13om50k2p4

[2018-02-05 16:48] pythoncreate commented on #69
so, also i can see that the navigator is updating with the new data, but main chart is not (sorry for all the comments)

[2018-02-05 17:41] whawker commented on #69
Yes, something strange going on with the navigator there.

I can see the `Series.setData` Highcharts method is being called behind the scenes, with the correct data. However then it seems the data is be processed incorrectly by Highcharts, resulting in only a single data point.

I have a poke around to see if I can figure out why...

[2018-02-05 20:41] pythoncreate commented on #69
ok, much appreciated..thanks

[2018-02-05 23:11] whawker commented on #69
I think this might be related to the open Highcharts issue [#7632](https://github.com/highcharts/highcharts/issues/7632), as it doesn't seem to present in Highcharts v5.

I think you could use the workaround suggested in the issue there, by calling `setExtremes` manually _after_ the data changes, via the `callback` feature of React JSX Highcharts

[code]

[2018-02-05 23:14] whawker commented on #66
This looks like it might be the same issue as #69, and hence may be dependent on https://github.com/highcharts/highcharts/issues/7632.

This is a workaround suggested in #69, perhaps you could give that a go too?

[2018-02-06 00:27] pythoncreate commented on #69
sweet that works--thank you!  the only minor issue is it looks like the 'to' date is now at tomorrow--any idea why that might be?

[2018-02-06 09:54] mattspeller commented on #61
thanks Will - perfect - that worked on the example I gave above.

Of course, real life cases are slightly more complex than a sandbox example so I thought I would put down here what I found out to help you and others if sizing comes up again.

- Highcharts Chart object can be sized either with number or % and it works differently based on choice.
  - If you set the height to be a constant number,

[2018-02-06 09:54] #61 closed

[2018-02-09 14:20] cabutler10 opened #70 "OnClick event stops working after new data from props"
I am experiencing an issue with onClick events not working after new data is passed to a chart. I have created a sandbox to replicate my issue;

 https://codesandbox.io/s/q8nolv1jx4

The onClick event works initially, however after clicking the 'Change Dataset' button, the onClick event stops working. Do you have any suggestions as to what might be causing this?

[2018-02-09 14:58] whawker commented on #70
The method you have used in your CodeSandbox, creates a new function on every render - this React doc explains the issue better than I can https://reactjs.org/docs/faq-functions.html#why-is-binding-necessary-at-all

[code]

With React you usually pass functions bound to the component

[code]

The reason being, the next time the component renders, the component will receive **the same function refe

[2018-02-10 10:01] cabutler10 commented on #70
Thanks!

[2018-02-10 10:01] #70 closed

[2018-02-12 00:38] georgiopandarez opened #71 "How to use a custom series for the Navigator?"
Hi,

I cannot see how to use a custom series for the Navigator.

Navigator.Series only takes a seriesId, and highcharts uses the showInNavigator setting otherwise. My use case is to specify a custom series for the navigator (ie the whole dataset) while only loading the specific date range into highcharts for the main graph.

[2018-02-12 09:11] Chikel commented on #63
Hi Will, thanks for your time.
I used StackBlitz for my issue, here's my [demo](https://stackblitz.com/edit/react-8hv9hx?file=index.js).

[2018-02-12 09:28] whawker commented on #71
I would suggest adding a Series to the chart as usual, but hiding it using visible=false?

[code]

Here is [an example](https://stackblitz.com/edit/react-1xufqw?file=MyChart.js)

[2018-02-12 09:57] whawker commented on #63
Hi @Chikel, I don't believe it is possible to update `plotOptions` after initialisation.

Here is [an example](http://jsfiddle.net/18u9h72e/) using vanilla Highcharts (without React), and as you can see the Chart colour is updated, but the `plotOptions` do not get updated.

In your StackBlitz example, you might be able to achieve the desired effect, by using min `<XAxis min={2010} >`, but more com

[2018-02-12 10:00] Chikel commented on #63
I see, thanks anyway. I guess I'll need to remount the chart when my props change. I have a use case where a user filters data which change the point start.

[2018-02-12 10:00] #63 closed

[2018-02-12 10:05] whawker commented on #63
@Chikel [here](https://stackblitz.com/edit/react-uqgnoh?file=index.js) an example of using `<XAxis min={}>` instead of plotOptions, if it helps.

[2018-02-12 10:07] whawker commented on #66
Any luck with the suggested workaround @mindjuice?

[2018-02-13 05:23] mindjuice commented on #66
Thanks for checking in.  I had to work on making highchairs with with nanoseconds resolution the past few days.  Now I need to work on selection handling (requesting higher-resolution data from the server when you zoom in) and I'll will be calling `setExtremes` after each data fetch anyway, so I should know in a day or two if that works.

[2018-02-14 12:42] whawker commented on #71
Hi @georgiopandarez does the above suggestion solve your issue?

[2018-02-14 12:42] #69 closed

[2018-02-15 02:35] georgiopandarez commented on #71
It works, I also need to have showInLegend={false} on the series.

It would be nice just being able to set the navigator series directly.

[2018-02-15 02:53] georgiopandarez opened #72 "Navigator and updating data"
Hi,

Updating a highstock graph data with the navigator results in no graph being displayed. Clicking on the range selector brings the data back.

Removing the navigator from the graph also resolves the issue.

[2018-02-15 22:10] creativeleep opened #73 "React-JSX-Highstock example with date range picker does not work"
After a week of debugging, it appears that something in the way React handles dot notation appears to have been broken.

In the example and ALL other references to react-jsx-highstock with date range pickers, the code uses...
`<DayPicker.Input />`

This however does not work unless the import statement explicitly includes...
`import { DayPickerInput } from 'react-day-picker/lib/src/DayPickerInput;

[2018-02-15 23:05] sorenhoyer commented on #52
Why was this issue closed? This seems to be a real problem.

[2018-02-15 23:23] whawker commented on #52
Are you referring to the original issue, or the question @TwoLaid raised afterwards?

[2018-02-21 13:48] sorenhoyer commented on #36
Works, but how can we supply the configuration options for the boost module? https://www.highcharts.com/docs/advanced-chart-features/boost-module - boost.useGPUTranslations & boost.seriesThreshold is pretty important

[2018-02-21 14:29] whawker commented on #36
I would imagine... (using a functional React component)

[code]

[This page](https://github.com/whawker/react-jsx-highcharts/wiki/Supported-Features) about support features in the wiki may help.

[2018-02-21 21:56] #73 closed

[2018-02-21 22:07] whawker opened #74 "Use new context api where available (React 16.3)"
See here https://github.com/diegohaz/awesome-react-context

- [x] Update `react-jsx-highcharts`
  - [x] Use `create-react-context` to enable 16.3 context api where available
  - [x] Remove id required props
  - [x] Provide useful error messages when additional modules are not found (i.e. `highcharts-more`)
  - [x] Update tests
- [x] Update `react-jsx-highstock`
  - [x] Use `create-react-context` t

[2018-02-21 22:07] whawker opened #75 "Move examples to CodeSandbox/StackBlitz"
Using GitHub integration if possible.

[2018-02-21 22:19] whawker commented on #73
Ahh, good spot.

In the examples I am using React Day Picker from the [browser export](https://github.com/whawker/react-jsx-highcharts/blob/master/examples/webpack.config.js#L70), rather than from the NPM module.
The browser global exports as `DayPicker.Input` but the NPM modules exports as DatePickerInput.

You can see how to use React DayPicker inputs [here](https://github.com/whawker/react-jsx-

[2018-02-21 22:21] whawker commented on #71
It's a bit difficult to do that with the current architecture, but I'll consider it when I do the React 16.3 context api rewrite #74

[2018-02-21 22:21] #71 closed

[2018-02-22 01:08] sorenhoyer commented on #36
Cool, works just fine :)

[2018-02-22 01:24] sorenhoyer commented on #52
I just find it very inefficient having to .slice() the array we send setData. Imagine it had 10000+ objects in it, which would update every 1 second or so. An application with multiple live data charts needs every single drop of cpu optimization possible, and at least for us MobX users it would be quite a performance improvement if we could stay mutable - without being forced to give that up, by h

[2018-02-27 02:08] MathewLech opened #76 "Can not change color of title using css"
is the color style not exposed?

.highcharts-title {
    fill: #434348;
    font-weight: bold;
    letter-spacing: 0.3em;
    font-size: 3em;
}

[2018-02-27 02:17] MathewLech commented on #76
need to add !important for this to work
fill: white !important;

[2018-02-27 02:17] #76 closed

[2018-02-27 22:24] georgiopandarez commented on #72
I worked around this by implementing a custom component and calling setExtremes()

    componentDidUpdate(prevProps) {
        if (!isEqual(prevProps, this.props)) {
            for (let series of this.props.getChart().series) {
                series.xAxis.setExtremes();
            }

[2018-02-28 07:58] Dubes opened #77 "Usage of tooltip formatter : onClick stops working on data refresh"
**What I am trying to achieve**
I need to show/hide tooltip based on some logic. As per highcharts [documentation](https://api.highcharts.com/highcharts/tooltip.formatter), the correct way is to use a formatter function returning the text or false. For this, I need both: `this.point.x` provided by highcharts and `this.props.data` which is passed to the chart instance.
I also have a need to update

[2018-02-28 09:18] whawker commented on #77
Hi @Dubes, you just need to watch out where you are using arrow functions, as they change the `this` scope to be the outer scope - in React's case, the component's scope.

By using a normal function, it will keep the `this` to the original scope that Highcharts sets, allowing you to use `this.point.x` as expected.

I've updated you code here: https://codesandbox.io/s/k7mr4ovq3

[2018-02-28 12:10] Dubes commented on #77
Thanks for the hint about the arrow function. It is the scope where I am stuck, the equality check in the example would eventually come from props, both of which belong in different scopes.
[code]

I tried with a higher order function, but it works only in constructor... not when I call it on react lifecycle or passing the function via props.
https://codesandbox.io/s/llzzl17jnz

[2018-02-28 16:36] abelkbil commented on #43
@whawker reflow example is great. Will this library  work with typescript. on parent div resize.  Thank you.

[2018-02-28 17:25] whawker commented on #77
Well good news and bad news.

Good news, you can use both props, and the Highcharts tooltip formatter scope together, using your `makeFormatterFunction`, see here: https://codesandbox.io/s/m38pnvvv78

Bad news, seems the events which I dynamically added are removed when a series updates [see here](https://github.com/highcharts/highcharts/blob/master/js/parts/Dynamics.js#L891), so I'll need to add

[2018-02-28 21:37] #77 closed

[2018-02-28 22:06] whawker commented on #77
Just published version 2.2.0 which include a fix for this bug.

You can see the example is fixed [here](https://whawker.github.io/react-jsx-highcharts/examples/UpdateWithEvents/index.html) which is using the same code as the previous CodeSandbox.

[2018-03-01 06:56] Dubes commented on #77
That was quick!!! thanks a lot!

[2018-03-01 20:28] mariogaljr opened #78 "Are Exporting & Legend click event handling possible"
https://jsfiddle.net/gh/get/jquery/1.11.0/highslide-software/highcharts.com/tree/master/samples/highcharts/exporting/offline-download-demo/

As you can see the link, I'd love to add offline exporting to the chart.

Additionally, I'd love to know there would be some functions to trigger legend click event.

Thanks

[2018-03-05 19:07] mwubgadeashish opened #79 "Adding Event on RangeSelector.Button is not working"
[code]
// In constructor
this.handleClick = this.handleClick.bind(this);
//added method
handleClick  = (e) => {
        console.log('Click');
    }

[code]

[2018-03-06 22:12] mwubgadeashish commented on #79
I am not sure but does it has something to do with events in

adding events in RangeSelectorButton.js
==================================
componentDidMount () {
    const button = this.getButtonIndex();
    if (button > -1) return; // Button already present

    const { count, type, children } = this.props;
    const buttons = [
      ...this.getButtons(),
      {
        count,
        type,

[2018-03-07 06:14] mwubgadeashish commented on #79
@whawker can you please help me on this?

[2018-03-07 11:50] #79 closed

[2018-03-07 11:53] whawker commented on #79
Hi sorry, was not aware RangeSelector buttons supported click events.

I've just published `react-jsx-highstock@2.2.1` which adds support for this use case, which works in the way you assumed

[code]

[2018-03-07 16:26] mwubgadeashish commented on #79
@whawker I have update react-jsx-highstock@2.2.1 and i can see the changes but unfortunately I can not see the event has been called. On my side i have not done any changes in my code.
Please let me know if i need to make any changes on my side.

Thanks,
Ashish

[2018-03-07 16:31] mwubgadeashish commented on #79
<img width="446" alt="screen shot 2018-03-07 at 8 30 01 am" src="https://user-images.githubusercontent.com/20344499/37104582-f19481b0-21e1-11e8-8d91-d81877082ac1.png">

[2018-03-07 19:47] whawker commented on #79
Hi @mwubgadeashish [here](https://stackblitz.com/edit/react-p4ghrh?file=MyChart.js) is an example of Range Selector buttons with `onClick` events.

[2018-03-07 20:08] whawker commented on #78
Hi @mariogaljr, you should be able to add exporting by applying the modules to the Highcharts object, [see here](https://github.com/whawker/react-jsx-highcharts/issues/57#issuecomment-352361456)

P.s. I don't believe the legend supports click events? https://api.highcharts.com/highcharts/legend

[2018-03-08 08:32] ImranChowdhry opened #80 "Cannot read property 'stockChart' of undefined"
I followed your guidance on this issue, I am importing this

[code]
I receive this error after copying your example

The following code is used

`              <HighchartsStockChart>
                <Chart zoomType="x" />

                <Title>Highstocks Example</Title>

                <Legend>
                  <Legend.Title>Key</Legend.Title>
                </Legend>

                <RangeS

[2018-03-08 08:59] whawker commented on #80
You need to use the `withHighcharts` HOC, as explained in the [README](https://github.com/whawker/react-jsx-highcharts#common-issues) and [the wiki](https://github.com/whawker/react-jsx-highcharts/wiki/Higher-Order-Components#withhighcharts-version-200)

[2018-03-08 08:59] #80 closed

[2018-03-08 09:04] ImranChowdhry commented on #80
@whawker I am sorry I just re-read this, so it needs to be it's own module? I was going to re-edit my comment. I apologize

[2018-03-08 22:26] mwubgadeashish commented on #79
I am not sure what can be the issue but things works well with your example (above) and does not work with my code: Ex: range selector shows at bottom of chart.
<RangeSelector selected={0} verticalAlign="bottom">
                    <RangeSelector.Button count={1} type="day">1 day</RangeSelector.Button>
                    <RangeSelector.Button count={1} type="week">1 week</RangeSelector.Button>

[2018-03-08 22:29] mwubgadeashish commented on #79
@whawker
[PredictionFullChart.txt](https://github.com/whawker/react-jsx-highcharts/files/1795022/PredictionFullChart.txt)

[2018-03-09 09:32] sumitkothariqp opened #81 "onClick does not work for first time on Series, PieSeries.."
After loading chart when I click on pie slice, it does not execute the function for first time but if I click it again then it works and for each click it works.

Issues to be persist for first click only.

[2018-03-09 12:58] kibertoad opened #82 "Update documentation re: version support"
Judging by commits, HighChart 6.x.x is already supported, but readme claims it isn't.

[2018-03-09 13:12] #82 closed

[2018-03-14 16:49] meotch opened #83 "Setting the axis scale via min and max?"
As far as I'm aware, this isn't possible to set in react-jsx-highcharts currently (please correct me if I'm wrong)!

In highcharts this would be done like so:

xAxis: {
    	min:-300,
        max:300
}

It would be great if we could set it as a prop in the axis component (or at all):

<XAxis min={this.props.min} max={this.props.max}>
            <XAxis.Title>{this.props.xField}</XAxis.Title>
</XAx

[2018-03-14 18:07] janakp2411 commented on #53
Hi @whawker for now is there any workaround ?. so far I haven't started my project but very soon i will start but i am sure I need this functionality in my project.  Is there any work around to get this feature ?

[2018-03-14 18:08] whawker commented on #83
Hi @meotch, min and max do work on the xAxis, [see here](https://stackblitz.com/edit/react-z5srf7?file=MyChart.js) for an example

[2018-03-14 20:28] #83 closed

[2018-03-14 20:29] meotch commented on #83
Closed the issue, thanks for responding so quickly!

[2018-03-15 17:29] whawker commented on #81
Hi @sumitkothariqp, I'm not able to reproduce the issue mentioned ([see here](https://stackblitz.com/edit/react-xbgklq?file=PieChart.js)). Would you be able to post a broken example?

[2018-03-15 17:44] whawker commented on #78
[Here is an example](https://stackblitz.com/edit/react-5awj7x?file=MyChart.js) of legend item click events.

[2018-03-15 17:44] #78 closed

[2018-03-16 17:55] meotch opened #84 "Adjusting radius for each marker doesn't work and Y values in scatter charts appear with spaces in tooltip"
Currently, setting the marker radius doesn't seem to adjust the size of the marker in the chart.

Also, spaces are being injected into the tooltip display of the y values irregularly (in vanilla highcharts, they seem to use spaces for every thousandth place ie 1,000 is 1 000). Example: http://jsfiddle.net/oogwjmeL/1/

var pair = {
name: key,
x: someValue,
y: anotherValue,
marker: {
radius: sqrdSiz

[2018-03-18 02:33] jcpny1 opened #85 "Data point hover popup & y axis label formatting"
When I hover over my line chart, I'm not getting any data point popups. Are they supported?

Also, highcharts shows the method below to format y axis labels. Is that supported? If so, I can't figure out how to represent the nested attributes in the YAxis component.
[code]

[2018-03-18 02:53] totaldis commented on #85
example...
[code]

[2018-03-18 03:25] jcpny1 commented on #85
Terrific. Thanks.

[2018-03-18 03:25] #85 closed

[2018-03-18 03:27] jcpny1 opened #86 "Line chart datapoint popups"
When I hover over my line chart, I'm not getting any data point popups. Are they supported?

[2018-03-18 19:36] whawker commented on #84
Hi @meotch, spaces are [the default separator](https://api.highcharts.com/highcharts/lang.thousandsSep) for thousands in Highcharts; you can change this option before passing Highcharts via `withHighcharts`.

[code]
P.s. [Here](https://stackblitz.com/edit/marker-size-example?file=MyChart.js) is an example of marker size change on a Scatter series.

[2018-03-18 19:55] jcpny1 commented on #86
I am. D'oh. I missed that nuance. And didn't look at other than line chart examples that had Tooltip specified. Thanks.

[2018-03-18 19:55] #86 closed

[2018-03-18 20:47] whawker commented on #86
No worries! Thanks!

[2018-03-20 15:25] meotch commented on #84
Adding that fix only adds comma's for the Y values and Z values, X still doesn't format correctly as expected (for a Bubble Chart)

[2018-03-20 15:38] #84 closed

[2018-03-21 21:29] em-ka opened #87 "Wrong Legend using the labelFormatter"
Hi, thank you for this excellent library! It works great except I'm not able to update the `Legend` of the chart using the `labelFormatter`. To be specific the legend updates but with data valid to the chart from the previous chart data refresh. Interesting, that the `Tooltip` formatter works as expected. I prepared a simplified example, try to click on the Toggle data button several times:

[![Ed

[2018-03-23 09:08] sumitkothariqp commented on #81
Hi thanks for the update.
I tried my code in your example and it worked. But it is still not working with my dashboard.
I am using react grid layout and redux. I am still identifying the issue at my end.

Thanks for creating react-jsx-highcharts.. really helpful.

[2018-03-27 11:08] whawker commented on #87
I don't believe this is an issue with React JSX Highcharts, I think this is an issue with Highcharts itself.

As you can see from [this vanilla JS example](http://jsfiddle.net/06L3w4gw/1/) the legend is not re-render when the data is updated.

As a workaround, I would suggest manually rendering the legend when the chart is redrawn, using an event handler.

[code]
See the full workaround [here](htt

[2018-03-27 11:35] em-ka commented on #87
Thank you Will, you rock! Works like a charm.

[2018-03-27 11:35] #87 closed

[2018-03-31 03:04] terryyylim opened #88 "Urgent help required in using boxplot"
This is my current code, I am unable to use the BoxPlot and I'm experiencing "Uncaught Error: Highcharts error #17". Is there something I did not import or something wrong with my syntax for BoxPlotSeries?
Really need help urgently for a project due in 1 week's time, thank you in advance!

import React, {Component} from 'react';
import { withHighcharts, HighchartsChart, Chart, XAxis, YAxis, Title,

[2018-03-31 09:05] whawker commented on #88
Hi, Box Plot is not included in the standard series set, you need to extend Highcharts with the "more" module they provide.

[code]

[2018-03-31 15:40] terryyylim commented on #88
Thank you for your reply! The error has disappeared, but the boxplot is still not showing, may I know if you could help me with the syntax for BoxPlot? I can't seem to find any documentation on how the syntax is supposed to be in the render method. Thank you! Also, this is an amazing package, really love it!!

[2018-04-03 15:34] terryyylim commented on #88
bump, anyone can provide some sort of help here? thanks!!

[2018-04-03 17:48] whawker commented on #88
I would suggesting looking at the Highcharts examples - the Box Plot series data needs to be an array of arrays.

See vanilla Highcharts example [here](http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/highcharts/demo/box-plot/)
And React JSX Highcharts examples [here](https://stackblitz.com/edit/box-plot-example?file=MyChart.js)

[2018-04-03 20:13] mwubgadeashish opened #89 "Force grouping on hourly data"
@whawker I am using your highstock component and I have multi Y Axis data (number) and X Axis has hourly data (for a month). Whenever there are multiple data points, chart automatically creates intervals like 00.00hrs to 02.59 hrs and shows average value for the period.

Problem: Is there is any way by which we can stop doing the intervals and show the hourly data as we passed with each component.

[2018-04-03 21:58] mwubgadeashish commented on #89
may be something like `plotOptions.line.dataGrouping. enabled = false;`

[2018-04-03 22:10] whawker commented on #89
I'm unable to run the code right now, as I only have my phone with me. But you can supply plot options like so.

https://whawker.github.io/react-jsx-highcharts/examples/SimpleLine/index.html

[2018-04-03 22:42] mwubgadeashish commented on #89
![image](https://user-images.githubusercontent.com/20344499/38279447-3217f39c-3755-11e8-8c15-1bfbd32b2fde.png)

@whawker I am sorry for the confusion!!!

Please look at the tooltip image and data has been averaged between time frame Mar-28, 12.00 to 13.59. I need a help where highchart/highstock will not do any grouping on its own and provide chart for hourly data that we have provided.

[2018-04-04 08:29] whawker commented on #89
I'm not sure what you mean, can you not just

[code]

[2018-04-04 09:26] bonchevski opened #90 "AreaRange Series and Spiderweb chart problems"
Hey , so I've been using these charts in a react-jsx app . However when I have tried importing for example "AreaRangeSeries" from either highstock or highcharts-more and default from highcharts. They have not worked. I've been trying all types of things regarding implementing AreaRangeSeries ,however no luck, It only redirects me to see the issue #17 or #18 .
I'm quite desperate, and no my json is

[2018-04-04 09:27] bonchevski commented on #90
So yeah basically It crashes completely whenever I try any type of Range series Regardless of the imports introduced

[2018-04-04 09:31] whawker commented on #90
How are you importing Highcharts more? It should be like this

[code]

[2018-04-04 09:37] terryyylim commented on #88
That'd worked!! Thanks so much, didn't notice the array was nested, my bad!! Cheers, and thank you for coming up with this package!

[2018-04-04 09:37] #88 closed

[2018-04-04 09:40] #81 closed

[2018-04-04 09:46] bonchevski commented on #90
Yep still not working, Will be back in an hour with some more code , Sorry for bothering :) ty for the quick reply

[2018-04-04 10:30] bonchevski commented on #90
Okay so, this is the updated code 👍

import React, { Component } from "react";
import Highcharts from "highcharts/highstock";
import {
  HighchartsStockChart,
  Chart,
  withHighcharts,
  XAxis,
  YAxis,
  Title,
  Legend,
  LineSeries,
  Navigator,
  RangeSelector,
  SplineSeries,
  AreaSeries,
  AreaRangeSeries,
  Tooltip
} from "react-jsx-highstock";
import addHighchartsMore from 'highcharts/hi

[2018-04-04 10:42] whawker commented on #90
You've missed a line from my previous comment. You're not applying the Highcharts more module, after you import it.

You need to call it to extend Highcharts with extra functionality.

[code]

[2018-04-04 10:44] bonchevski commented on #90
Yeah it worked! Awesome, however it does not really... well display the arearange, any tips on the data for that? I'm suppposed to have my XAxis as datetime, and the arearange to be with a lineseries in it I have a screenshot:
![image](https://user-images.githubusercontent.com/35065347/38303308-5839f124-380e-11e8-821f-2b38259fe6ad.png)

[2018-04-04 10:55] whawker commented on #90
Do you mean YAxis as datetime? Your XAxis (bottom axis) is already datetime.

[2018-04-04 11:12] bonchevski commented on #90
This is only a Screenshot of our mock-up :D
this is what happens with the code above
![image](https://user-images.githubusercontent.com/35065347/38304442-2c1d19a0-3812-11e8-83fa-afaf373ff26d.png)

with the function for creating data the YAxis of the AreaRange doesn't show up instead only the YAxis LineSeries

[2018-04-04 11:49] whawker commented on #90
AreaRange series require two Y points, as they define an area [see here](http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/highcharts/demo/arearange-line/)

The basic `createDataPoint` utility I provided in my examples only creates one Y point.

[Example here](https://stackblitz.com/edit/area-range-chart-example?file=MyChart.js)

P.s. You can't nest series within ot

[2018-04-04 11:49] #90 closed

[2018-04-04 18:00] mwubgadeashish commented on #89
@whawker Thanks for help... it worked.

Thanks,
Ashish

[2018-04-04 18:00] #89 closed

[2018-04-06 14:14] yniknafs opened #91 "Does it use boost?"
Hi. I am considering moving my project over to this. Just curious if any of the components employ highcharts' boost functionality? Its not explicitly documented anywhere.

[2018-04-06 17:00] whawker commented on #91
Hi @yniknafs, no there is no explicit use of Boost, but you can add the functionality yourself (I think) by...

[code]

[2018-04-09 15:33] nchapma2 opened #94 "TreeMap Chart body not appearing"
So my Tree Map Component looks something like:
[code]
But for the life of me I cant seem to figure out why my chart isn't appearing. The data passed through props is of the same format as treeMapData, except with a unique `id` field. I've attached a picture of what's actually being rendered.
<img width="462" alt="screen shot 2018-04-09 at 11 31 08 am" src="https://user-images.githubusercontent.com

[2018-04-17 18:59] gperdomor commented on #29
the drill down not works for me when the data comes from a Ajax call... once the "sumary" data are rendered

[2018-04-17 20:23] mwubgadeashish opened #96 "Do we have example to show noData?"
@whawker do we have any example where we can refer noData?

I tried to pass this to plotOptions but seems not working.
[code]

[2018-04-25 20:19] whawker commented on #75
[Done](https://stackblitz.com/github/whawker/react-jsx-highcharts-examples)!

[2018-04-25 20:19] #75 closed

[2018-05-02 08:55] whawker commented on #74
Proposed changes to implement this

1. Keep the React JSX Highcharts API the same
1. However, **drop support** for React **15**
1. This would of course, by a breaking change for some users, so will form react-jsx-highcharts 3.0.0

StackBlitz experiments with new context api
React 16.3: [here](https://stackblitz.com/edit/highcharts-context-experiments-3?file=index.js)
React 16.2: [here](https://sta

[2018-05-02 10:59] DevsExMachina opened #97 "Exporting an chart in styled mode results in blank image"
When using the CSS styled version of HighCharts - all (offline) export options give a blank (black) output where the chart should be.

My react component has these imports -

import Highcharts from 'highcharts/js/highcharts'; // CSS STYLED VERSION
import applyExporting from 'highcharts/modules/exporting';
import applyOffline from 'highcharts/modules/offline-exporting';
import {HighchartsChart, Cha

[2018-05-03 07:45] whawker commented on #97
Looks like you need to use the styled version of the export plugins (from the `/js/` folder)

[code]

[See here](https://github.com/highcharts/highcharts/issues/6307#issuecomment-304604505)

[2018-05-05 17:24] deman4ik opened #98 "Webpack build errors with CRA and Next.js"
Tried to install Highstock to latest Creat React App and latest Next.js projects.

Got same error in both projects:

What loader do I need?

[2018-05-07 09:16] LorenzWieseke commented on #98
Same here, the simple line example works but when I change the import form
react-jsx-highcharts to react-jsx-highstocks I get the same error. So Highstocks doesn't seem to work for me.

[2018-05-07 09:27] deman4ik commented on #98
CRA 1.1.4.
Next.js 6.0.0

[2018-05-07 09:30] whawker commented on #98
I mean which version of `react-jsx-highstock`. You can see it if you look in the `package.json` file

[2018-05-07 09:32] deman4ik commented on #98
Oh sorry, yes, 2.3.0-alpha.1

[2018-05-07 09:51] whawker commented on #98
Damn, I must have published incorrectly, ideally the alpha release shouldn't be downloaded as latest.

If you `npm install --save react-jsx-highstocks@2.2.1` everything should work fine.

@anajavi, any chance you're available to help me fix errors with the webpack build for highstock?

[2018-05-07 10:57] LorenzWieseke commented on #98
npm ERR! 404 Not Found: react-jsx-highstocks@2.2.1

[2018-05-07 10:58] LorenzWieseke commented on #98
Also when I get it running now it sais Uncaught Error: Highcharts error #18: www.highcharts.com/errors/18

[2018-05-07 11:34] whawker commented on #98
Sorry typo :man_facepalming:

`npm install --save react-jsx-highstock@2.2.1`

[2018-05-07 11:54] LorenzWieseke commented on #98
still getting error above

Highcharts Error #18
The requested axis does not exist
This error happens when you set a series' xAxis or yAxis property to point to an axis that does not exist.

[2018-05-07 12:40] anajavi commented on #98
I will take look at it.

[2018-05-07 12:55] whawker commented on #98
Are you using [ID props](https://github.com/whawker/react-jsx-highcharts/wiki/id-props-%28important%21%29) for you axis and series?

[2018-05-07 12:58] anajavi commented on #98
@whawker: The es build of highstock has references to jsx-highcharts src folder, instead of package.

For example the dist/es/FlagSeries/FlagSeries has:
[code]

It can be fixed with importing:
[code]

I don't know how it fits your build env though.

[2018-05-07 14:04] anajavi commented on #98
@whawker do you want a PR for those changes?

[2018-05-07 14:17] anajavi commented on #74
As there are lifecycle changes in React 16.3, it would be easier to drop support for React < 16.3. Otherwise the new lifecycles need to be polyfilled too. https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

The react-leaflet also has been rewritten with the new lifecycles and new context API without the polyfills:
https://github.com/PaulLeCam/react-leaflet/tree/v2

[2018-05-07 14:31] whawker commented on #98
Amazing, thanks @anajavi! I don't mind making the changes, thanks so much for your help! Legend!

[2018-05-07 14:31] #97 closed

[2018-05-07 20:14] Samuel-Montoya opened #99 "More Chart Options"
Hello there!
**I'm trying to change the data label format.**
Here is what I have with react-jsx-highcharts.
[code]

But with Highcharts, I have a config object with the chart's properties.

[code]

How do I use these properties with the HighchartsChart?

Thank you!

[2018-05-08 07:43] whawker commented on #74
I hadn't planned on using the new life cycle methods in this version, as the main project I use this for is still using React 16.2, I will consider it though.

[2018-05-08 07:48] whawker commented on #74
Additionally in version 3, I plan to
* auto generate IDs for Axis/Series etc, (if not supplied)
* Prevent more user friendly errors when a user tries to use a Series type that is not available
    * For example using an Area Range series without Highcharts More

My main aim with this new version, is to simply the codebase to attract more collaborators, as I am struggling to find the time to suppor

[2018-05-08 10:06] anajavi commented on #98
I think the changes to imports might also require resolve.alias in webpack.config. Something like this (not tested):
[code]

Otherwise the umd-bundle might get both lodash AND lodash-es bundled. I can check this once the changes have landed.

[2018-05-08 18:50] #99 closed

[2018-05-09 21:14] whawker commented on #98
@deman4ik, @LorenzWieseke if you `npm install react-jsx-highstock@2.3.0-alpha.2` does it work as expected?

[2018-05-11 15:14] whawker commented on #74
For those interested, I've just published `react-jsx-highcharts@3.0.0-alpha.5`, would love for people to help me test. Please post here if you discover any issues.

[2018-05-11 15:56] anajavi commented on #74
Should the YAxis, ColumnSeries and ErrorBarSeries work without setting id attribute with the 3.0.0-alpha.5?

I'm getting strange results if I remove them from more than one YAxis.

[2018-05-11 16:01] whawker commented on #74
That's the idea - if no id is present, it should [default to a uuid](https://github.com/whawker/react-jsx-highcharts/blob/new-context-api/packages/react-jsx-highcharts/src/components/Series/Series.js#L31)

[2018-05-11 16:12] anajavi commented on #74
I think the problem is that every axis gets the same uuid. I put console.log(this.props.id) in Axis and it logs the same string for every axis.

[2018-05-11 18:37] anajavi commented on #74
static assignments in the classes are run only once for each class, so every instance of Axis has the same uuid:
[code]

One way to solve it would be moving the id to state and have:
[code]

[2018-05-11 19:34] whawker commented on #74
Very strange, I'm not seeing the same issue on [my tests](https://rjh-v3-fork.stackblitz.io/AddSeries), I'll look into it

[2018-05-12 06:31] anajavi commented on #74
I made an [example](https://stackblitz.com/edit/rjh-v3-fork-atdbsg?file=src%2FCombo%2FCombo.js) of the problem. In the example the second YAxis max={100} overrides first YAxis max={10}.

The problem goes away when id is set to either YAxis.

[2018-05-12 10:28] anajavi commented on #74
It’s reproduced in your screenshot. The ”Jane” columns should reach the top, but instead they are on same axis as ”John”. Try adding id’s to YAxis elements, and they will change.

[2018-05-12 17:14] whawker commented on #74
Ah yeah, I see it now, your suggested fix makes sense.

I don't have access to my laptop for the rest of the weekend, would you mind opening a PR against the `new-context-api` branch? No worries if you're also busy though

[2018-05-12 18:47] anajavi commented on #74
As this needs refactoring anyway, the componentWillMount contents could be moved to componentDidMount at the same time to remove the deprecated lifecycle method. That way the React 16.4 would not whine about it.

Kind of busy right now, will try it if I have the time.

[2018-05-12 19:08] whawker commented on #74
Yeah fair point, don't worry about it, I can pick this up on Sunday evening. Cheers though.

[2018-05-12 20:09] anajavi commented on #74
PR in #100

[2018-05-12 21:01] anajavi commented on #74
Found another bug. In PlotLine:
TypeError: axis.addPlotLine is not a function

[example](https://stackblitz.com/edit/rjh-v3-fork-wgratx?file=src/SimpleLine/SimpleLine.js)

Also, just noticed that PlotLine and PlotBand have uuid() in defaultProps.

[2018-05-14 10:56] whawker commented on #74
Whoops! Good spot!

[2018-05-14 13:49] whawker commented on #74
Published `react-jsx-highcharts@3.0.0-alpha.6` which should fix the above issues. Thanks @anajavi!

[2018-05-15 12:38] anajavi commented on #74
What are your plans regarding releasing this? Or do you still have things to do before releasing?

[2018-05-15 12:58] whawker commented on #74
Still work to do I'm afraid, I need to update the highstock and datepickers packages, and update all the tests 😢

[2018-05-15 13:02] anajavi commented on #74
As enzyme does not yet understand the new context, it can be made to use react 16.2 with context polyfilling by fixing version in devDependencies:
[code]

I checked the tests and there is indeed a lot of work..

[2018-05-15 13:07] whawker commented on #74
I've updated the version first comment to display all things that still need to be done.

[2018-05-15 22:10] idanmiller opened #104 "Automatic breaks on a highstock chart not working"
Hi,

I have ported a highstock chart from using react-highcharts to using react-jsx-highstock.
All is well, except that on the former library, gaps in the time on the x axis were ignored, i.e. the graph didn't show an empty part, but skipped them, as if defining the xAxis.breaks property automatically.

However, I couldn't have the same functionality when using react-jsx-highstock...
I think the p

[2018-05-16 11:41] whawker commented on #104
Would you be able to post an example chart, either the code or a picture of before and after?

I've had a quick browse of the react-highcharts codebase, and I can't see anything specific to breaks.

[2018-05-18 19:06] LorenzWieseke opened #105 "Highstock Navigator not working"
As soon as I use the Navigator form the highstock lib I get an error saying

Highcharts Error #18
The requested axis does not exist
This error happens when you set a series' xAxis or yAxis property to point to an axis that does not exist.

![image](https://user-images.githubusercontent.com/29607121/40253148-f9c205f2-5ade-11e8-8f7d-9d9ea29c5e00.png)

Im using "react-jsx-highstock": "^2.3.0-alpha.2"

[2018-05-18 22:56] whawker commented on #105
Ah, you shouldn't have got the alpha version yet it's not stable. That's weird!

Does it work if you `npm install --save react-jsx-highstock@2.2.1` ?

[2018-05-22 09:43] anajavi commented on #105
This is probably the same problem as in #46.

[2018-05-22 10:18] LorenzWieseke commented on #105
Thanks ! Thats it !

[2018-05-22 10:22] whawker commented on #105
Awesome, thanks @anajavi!

[2018-05-22 10:22] #105 closed

[2018-05-22 20:09] madagithub commented on #104
I'm attaching the entire component code.
Note that there are no xAxis definitions, which from my understanding is what's causing it not to break, but I'm not entirely sure.
I can say that I've moved to highcharts-react and everything works well there as well.
If this will be resolved I'm hoping to move back to react-jsx-highcharts as it's much more convenient...

Code is here:
https://jsfiddle.net

[2018-05-23 08:57] whawker commented on #104
Hi @madagithub, I am unable to run your example, as the `data` and `fetched` props are provided via Redux connect, but obviously there in no store. Therefore I'm not sure what shape data the Graph consumes.

P.s. I would recommend using [StackBlitz](https://stackblitz.com/) or [CodeSandbox](https://codesandbox.com/) over JSFiddle for ES6 React demos.

[2018-05-23 12:19] whawker commented on #74
Just pushed informative error messages (on development environments), see example below

![screen shot 2018-05-23 at 13 16 29](https://user-images.githubusercontent.com/2003804/40423872-bedb887c-5e8b-11e8-8c10-240af38c2b71.png)

[2018-05-24 16:06] quirk0o opened #107 "Resize animation"
Hello,

I'm dynamically resizing the diameter of a pie chart and the animation is really strange. I'm changing both the `width` and `height` of the `Chart` component as well as the `size` of the `PieSeries` because I want a specific size without any labels etc. Here's a clip:

![donut-issue](https://user-images.githubusercontent.com/5123725/40497703-32e9009a-5f7d-11e8-9f3e-b7ddbb7573be.gif)

Is th

[2018-05-27 10:07] whawker commented on #107
Hmm interesting, have you tried explicitly defining the center? As mentioned [here](https://api.highcharts.com/highcharts/series.pie.center)?

[2018-05-28 15:49] anajavi commented on #74
I think the error messages work now only on ESM-build. The webpack overwrites "process.env.NODE_ENV" by default on UMD-build.

https://webpack.js.org/concepts/mode/

[2018-05-28 20:03] whawker commented on #74
Ah yes, I thought that might happen. But it works with Create React App, which hopefully covers the majority of use cases.

[2018-05-28 20:15] anajavi commented on #74
It might be possible to turn it off on webpack.config with something like this:
[code]
https://webpack.js.org/configuration/optimization/#optimization-nodeenv

I can try it out later, if it matters.

[2018-05-28 20:21] anajavi commented on #74
It came to my mind, that it is possible to use the umd build without any kind of bundler. Then the process would be undefined and cause errors.

So it might be better to leave it as is.

[2018-05-28 20:31] whawker commented on #74
Cool, I've just pushed the final to do list item, so can hopefully publish v3 soon. Just want to get to the bottom of #94 if I can!

[2018-05-28 20:40] anajavi commented on #74
I think you already fixed #94. It works for me on 3.0.0-alpha.8, but fails on 2.2.1.

Nice work!

[2018-05-29 12:52] whawker commented on #74
Well it displays a black squares initially, but doesn't render properly until you resize the browser window.

Seems to be something to do with calling `chart.reflow()` but I can't figure why that's required.

[2018-05-29 13:08] anajavi commented on #74
I am not able to reproduce the problem with the latest alpha.

The problem might be in the css width of the containing div. Do you have stackblitz for the problem?

[2018-05-29 13:10] whawker commented on #74
I do, code [here](https://stackblitz.com/edit/rjh-v3-fork?file=src%2FTreemap%2FTreemap.js), output [here](https://rjh-v3-fork.stackblitz.io/Treemap).

[2018-05-30 07:34] anajavi commented on #74
While debugging #94 I noticed that chart events don't seem to be firing:
[code]
Setting them in the chart config works:
[code]

[2018-05-30 07:38] thomasMary opened #109 "Highcharts error #17 using FunnelSeries"
Hey there,
I've got a `Error: Highcharts error #17: www.highcharts.com/errors/17` using FunnelSeries, and not sure what I'm doing wrong.
[code]

[code]

I've also tried to add `HighchartsMore` as suggested in #62 without success.

react-jsx-highcharts: "2.2.1"
highcharts: "6.0.6"

[2018-05-30 07:52] whawker commented on #109
Hi @thomasMary

You need to import the additional Highcharts funnel module

[code]

There will be more user friendly warnings in the upcoming v3 #74

[2018-05-30 07:52] #109 closed

[2018-05-30 07:57] whawker commented on #74
Hi @anajavi those events need to be added to the `<Chart />` sub component, which maps to the [`chart`](https://api.highcharts.com/highcharts/chart) Highcharts configuration group.

[code]

[2018-05-30 08:08] anajavi commented on #74
Thanks, I wasn't thinking straight.

What would you say about the following:

- Calling addSeries with redraw = false in Series component: addSeries(opts, false)
- Add chart.redraw() in HighchartsChart componentDidUpdate()

HighchartsChart componentDidUpdate() should run after all children are rendered, so it should redraw the chart. I could be wrong of course :)

I think that this could solve #94

[2018-05-30 10:10] whawker commented on #74
It looks as if the parent's `componentDidUpdate` is not always called when the Child component is rendered, take [this example](https://stackblitz.com/edit/react-qs1fve?file=index.js)

I think the application state changes need to happen above (or at) the parent component for `cDU` to be called

[2018-05-30 11:58] anajavi commented on #74
I tried it with chart.redraw and it did not help #94.

I think that the treemap is not getting right data from the chart on first run, if you check the HTML it produces, it shows that colors are set NaN:
[code]

No idea why that happens, maybe a race condition in highcharts.

[2018-05-30 12:01] whawker commented on #74
Thanks a lot for having a look. I think we might just have to launch v3 without it, and patch later on.

I'm feeling excited to launch v3, and you have waited very patiently for it.

[2018-05-30 12:44] #74 closed

[2018-05-30 13:34] anajavi commented on #74
I managed to reproduce treemap problem with pure highcharts:
https://jsfiddle.net/brdjj8y7/

It can be fixed in pure highcharts by not setting yAxis in treemap config.

[2018-05-30 13:56] anajavi commented on #94
Treemap has trouble in pure highcharts too, when the yAxis is added dynamically, not in chart config:
https://jsfiddle.net/brdjj8y7/3/

The colors and legend appear only when resized.

[2018-05-30 20:11] whawker commented on #49
This has been fixed as of #74

Please `npm install --save react-jsx-highcharts@^3.0.0` to allow this behaviour

[2018-05-30 20:11] #49 closed

[2018-05-30 20:14] whawker commented on #98
@deman4ik, @LorenzWieseke this should be fixed in version 3.0.0, please reopen if it remains an issue.

[2018-05-30 20:14] #98 closed

[2018-05-30 20:22] whawker commented on #96
Apologies for the incredible late reply, you just need to apply the no data module of Highcharts.

[See here](https://stackblitz.com/edit/rjh-no-data?file=MyChart.js)

[2018-05-30 20:22] #96 closed

[2018-05-30 20:38] whawker commented on #66
@mindjuice This may be fixed in version 3, see the example [here](https://stackblitz.com/edit/rjh-rapidly-updating-data?file=MyChart.js)

Would you mind giving Version 3 a go?

[2018-05-30 20:45] whawker commented on #53
@janakp2411 here is a workaround, it's pretty nasty and I wouldn't advise doing this way usually, but it works.

[See here](https://stackblitz.com/edit/rjh-on-load-workaround?file=MyChart.js)

[2018-05-30 20:50] whawker commented on #74
Just published v3, here are the [release notes](https://github.com/whawker/react-jsx-highcharts/releases/tag/v3.0.0).

Thanks so much @anajavi!

[2018-05-31 06:54] anajavi commented on #74
Thanks for the mention :) And congratulations for the release, you did great work!

I'm very happy with the lifecycle rewrites, with luck there isn't more to do for React 17 compatibility.
And now I can start testing with unstable_AsyncMode.

If you have more roadmap in your mind, just add issues or something for them.

One thing I have been thinking is using Flow typings, not terribly important t

[2018-05-31 18:02] nslocum opened #111 "Control where chart is rendered using chart.renderTo?"
Is there a way to better control where the chart is rendered? I'm looking for something like the chart.renderTo option.
https://api.highcharts.com/highstock/chart.renderTo

I have a component tree that needs access to the context HOCs (provideChart, provideAxis, provideSeries). For the components to work, I'd like to render the chart 2 or 3 levels deep into that tree. The demos include some great

[2018-05-31 19:15] nslocum commented on #111
That's a great example, but I don't think it solves this particular issue. The chart is still rendered as a first child of the `HighchartsChart` component.

This is a better representation of what I'm trying to do:
[code]
My hope is that with this structure, the other components inside `HighchartsChart` would be able to utilize the HOCs. This would allow those components to access chart data and a

[2018-05-31 20:09] whawker commented on #111
Apologies if I still misunderstand, but if you use the `provideChart` HOC you can create a custom component, and as long as you place it within `<HighchartsChart>` you can access the chart instance via `this.props.getChart().object`

In the [example here](https://stackblitz.com/edit/rjh-provider-example?file=MyChart.js), notice how `<MyComponent />` is used in MyChart

[code]

[2018-06-04 10:26] quirk0o commented on #107
I have tried setting the center to `['50%', '50%']` but it didn't change anything.

[2018-06-04 10:33] anajavi commented on #94
It's confirmed bug now in Highcharts https://github.com/highcharts/highcharts/issues/8406

There's also workaround with setting min and max in colorAxis.

[2018-06-04 10:37] whawker commented on #107
Would it be possible to share the code you're using to help me to debug?

[2018-06-04 10:59] whawker commented on #94
Thanks @anajavi 😀

@nchapma2 try changing your colorAxis to...

[code]

[2018-06-04 11:00] whawker commented on #111
@nslocum does the above help you?

[2018-06-04 16:04] whawker opened #112 "Investigate using Lerna for managing multi packages"
Currently this is all done by hand, but perhaps [Lerna](https://lernajs.io/) is a more appropriate and maintainable solution.

Dependency tree

[code]

cc @anajavi Any experience with this?

[2018-06-04 16:15] anajavi commented on #112
Never used lerna. No idea how it works.

is-immutable is perhaps not needed when/if immutable-js 4 is released. Immutable 4 is tree shakable, so that function could be used straight from there.

[2018-06-04 16:23] whawker commented on #112
Ah interesting, I wasn't aware of that, thanks!

As an aside, have you advice for improving the library? Improving documentation, more helper components like the datepickers?

[2018-06-04 18:35] anajavi commented on #112
I think that this library is really nice abstraction around highcharts. More helpers would just make it harder to maintain.

Stable library with just enough features and timely updates when needed is actually the nicest thing:)

One thing that would make it more usable would be the flow typings. As they are visible in IDE, not much documentation would be needed besides them. I can setup the boiler

[2018-06-04 19:25] whawker opened #113 "Integrate Flow typing"
Integrate Flow Typing for better IDE support

[2018-06-04 19:26] whawker commented on #112
That sounds great, I haven't done much with much Flow typing so would be interested to see how it works.

I've created #113 to track that separately.

[2018-06-05 08:16] pinkynrg opened #114 "Change color to xAxis label"
before I used to do:

[code]
How do I change now the color of the label by passing props? It seems like there is no XAxis.Label component. Should I pass some props directly to XAxis component? What would the format be?

[2018-06-05 08:40] whawker commented on #114
Unfortunately, this is one of the occasions where we need to pass in a configuration object .

We should investigate how best to extract this as a component.

[Example here](https://stackblitz.com/edit/rjh-colored-labels?file=MyChart.js)

[2018-06-05 08:44] pinkynrg commented on #114
By the way this is the best work i've seen lately. I needed this sooooo much! Great great great work!

[2018-06-05 08:44] pinkynrg commented on #114
I can't get the text of the legend to get colored as I want. How would you do it?

[2018-06-05 08:47] whawker commented on #114
This is probably a good use case for using the style by CSS import by the way.

In JS
[code]

CSS
[code]

[Example here](https://stackblitz.com/edit/rjh-colored-labels-css?file=style.css)

And thanks 😀

[2018-06-05 10:13] anajavi commented on #113
I added flow tooling in https://github.com/anajavi/react-jsx-highcharts/tree/flow

I tried to make small example of how it would work, and it quickly became extremely complex :)

I have to take some time to think about how to make it simple and easy to use, maybe just bypass most of the HOC typings and leave only typings for the user facing component props.

I don't want to make very complex syste

[2018-06-05 10:43] whawker commented on #114
Closing, please reopen if this remains an issue.

[2018-06-05 10:43] #114 closed

[2018-06-05 12:18] bondz commented on #113
Is there an existing type def for typescript?

[2018-06-05 13:45] whawker commented on #113
@bondz not at the moment, I'm not a fan of typescript so I can't find the motivation to add them. Would love a PR though, if you feel up to it?

[2018-06-05 16:01] bondz commented on #113
I've written a few type definitions for JS libraries, would give this a go sometime during the weekend and send a PR.

[2018-06-05 19:32] idoromm commented on #56
Would like to add that adding map support is a must for me. This project is great but having HighMaps would make it outstanding.

[2018-06-06 00:07] pinkynrg opened #115 "tooltip doesn't fade out"
When i hover on a curve the tooltip shows as expected.

But i leave the chart though, the tooltip stays there. Is it normal?

[2018-06-06 13:00] quirk0o commented on #107
Of course, apologies.
Here's a minimal repro:

https://codesandbox.io/s/pprnxq2q4j

[2018-06-06 13:19] whawker commented on #107
Ahhh ok, looks the toggle in completely destroying the chart
i.e.
[code]

This means previous chart instance is destroyed, and a completely new chart is created in it's place.

Ideally the same chart should be used, just update the props you pass to it.

[Example here](https://codesandbox.io/s/ko4k7zj657), `BabyDonut` and `ExpandedDonut` removed, using `SocialDonut` with updating props.

[2018-06-06 13:38] whawker commented on #113
@anajavi Nice work!! I also prefer the simpler approach, I would much rather provide flow typing on the external API rather than internally, as it means it's much easier to maintain.

The existing PropType definitions only define the required props for minimal functionality, does it matter if you pass additional props to a component, that aren't referenced in Flow types?

[2018-06-06 13:40] whawker commented on #115
Good spot, that looks like a bug to me. Are you using React JSX Highcharts version 3?

[2018-06-06 14:03] anajavi commented on #113
Let's go with the external typings then. I will send a PR when I'm happy with it.

It doesn't seem to matter if you pass additional props, at least in my flow config, but I will check it.

As for props that are passed to highcharts: it is hard to know their types beforehand. Flow typings for highcharts would help, but I'm afraid there is no such thing.

[2018-06-06 14:06] pinkynrg commented on #115
yes, from package.json: `"react-jsx-highcharts": "^3.0.1"`

[2018-06-06 14:15] anajavi commented on #112
One small thing about the documentation. I think that the readme.md should start with:
- Introduction
- Installation
- Getting Started

At least those are things I usually read first for every library.

[2018-06-06 19:38] whawker commented on #115
By any chance are you overriding `Highcharts.Pointer.prototype.reset` anywhere in your app?

I've found that in [my examples](https://github.com/whawker/react-jsx-highcharts-examples/blob/841d23797467b8c65ea917d5e555f19e75a69fe0/src/SynchronisedCharts/SynchronisedCharts.js#L9-L15) I'm overriding the reset method for the [SynchronisedCharts](https://llqioora.github.stackblitz.io/SynchronisedCharts)

[2018-06-06 19:41] pinkynrg commented on #115
hehe yes i am, in a sync charts as you do :) I'll try to remove and see if it goes away.

[2018-06-06 19:53] pinkynrg commented on #115
yes that is it!

[2018-06-06 21:48] whawker commented on #115
Wondering if I should make `withHighcharts` take a third argument, where we provide the overrides as an object of paths.

i.e.
[code]

We can apply the overrides when the `withHighcharts` HOC mounts, and revert to standard functionality when the HOC unmounts.

[2018-06-06 21:52] pinkynrg commented on #115
IMHO that looks clean.

[2018-06-06 22:04] whawker commented on #115
Nice one.

@anajavi any opinions on [this](https://github.com/whawker/react-jsx-highcharts/compare/with-highcharts-overrides)? (Sorry to keep bugging you)

Seems that overriding Highcharts functionality [like this](https://github.com/whawker/react-jsx-highcharts-examples/blob/841d23797467b8c65ea917d5e555f19e75a69fe0/src/SynchronisedCharts/SynchronisedCharts.js#L9-L15), bleeds through into other ch

[2018-06-07 04:38] anajavi commented on #115
It overrides class prototype methods, so it should bleed all instances created.

About the HOC:
Wouldn't that bleed to other charts mounted at the same time? If there are several charts mounted with different withHighcharts calls, it is quite unclear which pointer config wins the race.

Isn't there any other way to have that functionality than modifying the prototype? Events? Tooltip formatter cod

[2018-06-07 05:50] anajavi commented on #112
I noticed that you have to ask in every issue sent by the users about the versions installed. Issue template would help here.

The template could be:
- Bug or Feature
- Description
- How to reproduce
- Versions
  - Library version
  - Highcharts version
  - React version

When users are filling up the version information, they usually end up testing with the newer version too.

[2018-06-07 06:03] anajavi commented on #115
Highcharts instantiates chart.pointer on first render.

The intance methods can be modified in some "after first render" event hook. That way the global Pointer prototype is not polluted.

Something like this (does not work, just an example):
[code]

[2018-06-07 07:53] whawker commented on #112
Good idea, I'll knock that up now.

[2018-06-07 09:11] quirk0o commented on #107
I'm still getting the same effect in my codebase after applying these changes. The chart is contained within a Flex and later CSS Grid. Is it possible that this is affecting it's positioning?

[2018-06-07 09:17] whawker commented on #115
Yeah good point

Ah yes, also correct. I was thinking about this too.

Potentially we could use the `callback` functionality that already exists, and only modify the current chart instance, but it requires a bit of reverse engineering of the Highcharts source to figure out how to do it.

[code]

Although that requires a bit more

[2018-06-07 09:28] whawker commented on #107
It's possible, but difficult to say without seeing the code.

Is it possible to share what you chart code looks like now?

[2018-06-07 09:29] quirk0o commented on #107
Also when I use the same chart like you suggest but turn off animations I get a result that's almost okay but the bottom-right kind of eases in with a square shape:

![donut-issue-no-animation](https://user-images.githubusercontent.com/5123725/41091063-fe56a016-6a45-11e8-8b7f-0cb60712ec36.gif)

[2018-06-07 09:31] quirk0o commented on #107
As for the code it would be hard to extract just the relevant bit and unfortunately it's not open source. I'll try to create a repro later this week.

[2018-06-07 10:06] ismusidhu commented on #57
Would be good to have CSV option also.

[2018-06-07 11:12] anajavi commented on #113
PR in #116

[2018-06-07 11:34] quirk0o commented on #107
So sorry I missed that! That does indeed help. Thanks for you help 🎉

[2018-06-07 11:53] whawker commented on #107
No worries!

[2018-06-07 11:53] #107 closed

[2018-06-11 09:27] kweyhaupt opened #118 "How to add more elements in the tooltips ?"
Hi,

First of all, thank you for this library, it helped me a lot during my current project !

Secondly, I have a question, is this possible to add another element such as a score in the tooltip in addition to the Y detailed value?
I know that you can give to serie an array with object (ex: [{y: 42, score: 20}...] to the basic Highcharts JS library. After that you can simply retrieve the 'score' v

[2018-06-11 10:05] whawker commented on #118
Hi @kweyhaupt,

You need to create a tooltip formatter function, and pass it as a prop to the tooltip, i.e. `<Tooltip formatter={fn} />`

[Example here](https://stackblitz.com/edit/rjh-tooltip-formatter?file=MyChart.js)

**N.B.**
[code]

[2018-06-11 10:05] #118 closed

[2018-06-11 13:36] ErnstWevers commented on #115
I'm experiencing a similar bug, in IE11. I have a chart with multiple series with a tooltip that shows correctly on hover, and also disappears correctly when I leave the chart. In my case I have an onclick event tied to the charts' points, which when triggered has the unintended effect of creating a static tooltip which does not disappear. This can be repeated multiple times. It does not happen in

[2018-06-11 18:32] whawker commented on #115
@ErnstWevers would you be able to give a simplified reproducible example? Its difficult to debug without knowing what you're doing in the the click handler etc.

[2018-06-12 10:30] kweyhaupt commented on #118
Hi!

It works great ! Thank you for your fast answer !

Have a nice day.
Regards, Kévin

[2018-06-12 19:03] #18 closed

[2018-06-13 07:31] ErnstWevers commented on #115
I worked on it yesterday, but I am having some issues replicating the behavior outside our application. I have narrowed it down but there are still a number of options. A little recap: since I'm working in 2.3.0 the onClick prop has to be passed as an click event option. This works with a logger in the application but once I connect it to the actual functionality, i.e. make a fetch call to grab th

[2018-06-14 14:47] ErnstWevers commented on #115
I have replicated the problem [here](https://github.com/ErnstWevers/ToolTipTest). It seems to be a side effect of using Preact instead of React.

[2018-06-14 15:31] whawker commented on #115
@ErnstWevers that is a strange way to pass plot options, the usual React JSX Highcharts way is just to pass `plotOptions` as a prop.

This seems to resolve the issue.

[code]

[2018-06-14 19:32] lumberg72 opened #120 "Are *all* of Highcharts features and options accessible?"
Hi, this looks like a great library. But does it impose limitations on our usage of HighCharts? HighCharts has SO many feature and configuration options, I can't imagine you have exposed *everything* through your API (I'm new to React... not sure if that's the right term).
I mean, if you have not specifically included a Highcharts option, is there always a way to get at it anyway? If so, could you

[2018-06-14 19:43] whawker commented on #120
Hi @lumberg72, as far as I'm aware anything you can do in Highcharts you can do with React JSX Highcharts (except maps #56).

If there isn't a specific component for a option group, you can pass it as a prop to `<HighchartsChart />`

For example, there is currently no component for [`colorAxis`](https://api.highcharts.com/highcharts/colorAxis) but we can pass it as a prop. [Example here](https://g

[2018-06-14 19:45] lumberg72 commented on #120
Awesome. That's what I wanted to know. And thanks for the quick reply.

[2018-06-14 19:46] #120 closed

[2018-06-15 06:58] whawker commented on #56
![screen shot 2018-06-15 at 07 56 43](https://user-images.githubusercontent.com/2003804/41454563-ca24868c-7071-11e8-83c2-4562e3ba03eb.png)

Making good progress on this!

[2018-06-15 07:02] deman4ik opened #121 "Bug Next.js and jsx-highstock 3.0.1"
#### Bug or Feature Request?
Bug

#### Description
I have an error in Next.js(runtime) with jsx-highstock version 3.0.1:

but version 2.2.1 works fine.

#### How to reproduce
Sample
https://github.com/deman4ik/highstock_next

#### Versions
* React JSX Highstock version: 3.0.1
* Highcharts version: 6.1.0
* React version: 16.4.1
* Next.js version: 6.0.3
* Webpack version: 3.10.0

[2018-06-15 07:35] whawker commented on #121
Ahh crap, seems to be related to the Webpack 4 update https://github.com/webpack/webpack/issues/6522, the umd build now references `window` instead of `this`.

[2018-06-15 07:37] whawker commented on #121
I'll implement [this change](https://github.com/feathericons/feather/pull/430/files) and see what happens...

[2018-06-15 07:58] #121 closed

[2018-06-15 08:00] whawker commented on #121
@deman4ik just published `react-jsx-highcharts@3.0.2`  and `react-jsx-highstock@3.0.2` which should fixed this issue.

[2018-06-15 08:30] deman4ik commented on #121
@whawker yep, all fine now.
Thank you for fast support!

[2018-06-15 09:46] deman4ik commented on #121
@whawker same problem with react-jsx-highstock-datepickers

[2018-06-15 10:34] whawker commented on #121
Good spot, just published the fix for that too `react-jsx-highstock-datepickers@3.0.1`

[2018-06-15 15:29] ismusidhu opened #124 "gapSize not working"
#### Bug
When data is missing in between, the dots should not connect and `gapSize` property from highcharts is not working here.

#### How to reproduce
https://stackblitz.com/edit/spline-react-jsx-highcharts?file=MyChart.js

#### Live demo demonstrating bug
https://stackblitz.com/edit/spline-react-jsx-highcharts?file=MyChart.js

#### Versions
* React JSX Highcharts version: 3.0.0
* Highcharts ver

[2018-06-15 16:10] ismusidhu commented on #104
@madagithub you can easily fork from https://stackblitz.com/edit/base-chart-example to demonstrate your problem

[2018-06-18 07:42] whawker commented on #124
Hi @ismusidhu, if you search for `gapSize` in the [High*charts*](https://api.highcharts.com/highcharts/plotOptions.series.gapSize) api reference, you'll see it's not present, it seems to be a High**stock** only option.

If you change your Highcharts import to...

[code]

The the gap size start working as expected.

[Example here](https://stackblitz.com/edit/spline-react-jsx-highcharts-8pbexk?file=

[2018-06-18 07:42] #124 closed

[2018-06-19 07:37] jvskriubakken opened #125 "react-jsx-highcharts' does not contain an export named 'Pane'"
#### Bug or Feature Request?
Bug

#### Description
I'm struggling with using react-jsx-highcharts to create a guage chart: I get the runtime error:
'react-jsx-highcharts' does not contain an export named 'Pane'.

#### How to reproduce
Clone example project:
https://github.com/jvskriubakken/react-jsx-highcharts-examples

#### Versions
* React JSX Highcharts version: 3.0.2
* Highcharts version: 6.1.

[2018-06-19 07:58] whawker commented on #125
Hi @jvskriubakken, I haven't actually published Gauge and Polar support yet. I was planning to publish as 3.1.0.

Is this a blocker for you? I was holding back on 3.1 for #112 and #113, but they're proving troublesome. So could maybe hold them back till 3.2

[2018-06-19 08:08] jvskriubakken commented on #125
Hi @whawker and thanks for fast reply! It's a blocker for using 'react-jsx-highcharts' which I think is a much better option than using the recipe explained here: https://www.highcharts.com/docs/getting-started/install-from-npm or https://github.com/highcharts/highcharts-react which I also cannot get to work (getting error 17: https://github.com/jvskriubakken/highcharts-react-examples).

I would o

[2018-06-19 13:42] whawker commented on #111
Ah fair enough, I didn't realise all you wanted was a reference to the chart instance.

That can be done via

[code]

[2018-06-19 19:31] whawker commented on #125
Hi @jvskriubakken, I've just published v3.1.0 which adds support for [Gauge](https://whawker.github.io/react-jsx-highcharts/examples/Gauge/index.html) and [Polar](https://whawker.github.io/react-jsx-highcharts/examples/Polar/index.html) charts

[2018-06-19 19:31] #125 closed

[2018-06-19 20:06] jvskriubakken commented on #125
Hi @whawker, and thanks for publishing 3.1.0 with support for Gauge charts. I'm trying to use it in my react example app: https://github.com/jvskriubakken/react-jsx-highcharts-examples
but I get the error:
`
Uncaught TypeError: Cannot read property '0' of undefined
    at highcharts.js:330
    at Array.forEach (<anonymous>)
    at a.each (highcharts.js:28)
    at highcharts.js:330
    at Array.for

[2018-06-19 21:01] whawker commented on #125
I think you need to import Highcharts More and Highcharts Solid Gauge modules, see [here](https://github.com/whawker/react-jsx-highcharts-examples/blob/master/src/Gauge/Gauge.js#L3-L13). You can see the code running on StackBlitz [here](https://stackblitz.com/github/whawker/react-jsx-highcharts-examples?file=src%2FGauge%2FGauge.js).

[2018-06-20 08:58] jvskriubakken commented on #125
Thanks!
Yes, I was missing:
import addHighchartsMore from 'highcharts/highcharts-more';
import addSolidGaugeModule from 'highcharts/modules/solid-gauge';

// Apply addtional modules
addHighchartsMore(Highcharts);
addSolidGaugeModule(Highcharts);

[2018-06-20 08:59] jvskriubakken commented on #125
Hi again! Do you know if the normal gauge will work too?

[2018-06-20 21:52] MaximeHeckel opened #126 "Can't render the SimpleLine example"
#### Bug or Feature Request?
Bug

#### Description
I'm trying to render the `SimpleLine` example on my own project. I'm currently using React 16.4.0, Highcharts 6.0.0 and react-jsx-highcharts 3.1.0 and I'm on webpack 4.5
When implementing the SimpleLine project this happens when the project renders:
[code]
I'm pretty sure this might be due to something specific on my end but I was wondering if may

[2018-06-20 22:08] whawker commented on #126
Hi @MaximeHeckel, would you mind posting the exact Chart component you're using so I can see if you're missing anything?

[2018-06-20 22:36] whawker commented on #126
That seems normal, and how is the parent component rendering `SimpleLine`?

[2018-06-20 22:43] MaximeHeckel commented on #126
I know it's exactly the example that you provided
Concerning the parent component I have simply this:
[code]

[2018-06-20 22:53] whawker commented on #126
Hmm only odd thing I can see there is `class="main"` which should be `className="main"`.

I'll have try in the morning to see if I can replicate.

[2018-06-20 22:59] MaximeHeckel commented on #126
Oh yeah you can ignore the `class`.
The error comes from `HighchartsWrappedComponent` returning an object somehow. Maybe this is due to my specific setup but that would be pretty odd.

[2018-06-20 23:34] MaximeHeckel commented on #126
Here's a screenshot of the error in my dev tools
![screen shot 2018-06-20 at 4 33 22 pm](https://user-images.githubusercontent.com/2974412/41689889-c603b0a2-74a7-11e8-9517-3463cbb3142b.png)

[2018-06-21 07:44] jvskriubakken opened #127 "Support for applying Highcharts theme"
#### Bug or Feature Request?

Feature Request

#### Description

Hi, thanks for making this great adapter for Highcharts. Is there a preferred way to apply a bundled Highcharts theme with react-jsx-highcharts?

#### How to reproduce

#### Live demo demonstrating bug

#### Versions
* React JSX Highcharts version: 3.1.0
* Highcharts version: 6.1.0
* React version: 16.4.1

[2018-06-21 10:06] whawker commented on #127
There is no special technique for adding a theme in React JSX Highcharts.

I would personally recommend using the [Style by CSS](https://whawker.github.io/react-jsx-highcharts/examples/StyleByCSS/index.html) import instead, rather than `Highcharts.theme`. They make the React components much less verbose... but if you'd rather use a theme.

[code]

[2018-06-21 10:06] #127 closed

[2018-06-21 12:58] fernandolobao commented on #126
I have the same problem here, same configuration as example.

[2018-06-21 18:33] MaximeHeckel commented on #126
@fernandolobao same versions of React/Webpack as well?

[2018-06-21 19:19] fernandolobao commented on #126
@MaximeHeckel Except I'm using React@^15.6.2

[2018-06-21 20:16] whawker commented on #126
@MaximeHeckel just to warn you, [I dropped official support for React v15 in 3.0.0](https://github.com/whawker/react-jsx-highcharts/releases/tag/v3.0.0)

[2018-06-21 20:28] MaximeHeckel commented on #126
@whawker I'm on 16.4.0

[2018-06-21 23:36] MaximeHeckel commented on #126
@whawker have you been able to reproduce or do you have any idea what could trigger this?

[2018-06-22 08:53] whawker commented on #126
@MaximeHeckel I've had no luck reproducing

I've tried
* Using the same versions as stated in the original post, [here](https://stackblitz.com/edit/base-chart-example-hjp5rf?file=index.js)
* A new Create React App, in both development and production mode. i.e. [here](https://kkvizpmo.github.stackblitz.io/SimpleLine)
* Browser only, in development and production mode i.e. [here](https://whawker.git

[2018-06-22 17:05] MaximeHeckel commented on #126
@whawker I might not be able to share the full config (a bit big) but here are the main items that I think might affect this:
- Webpack 4.5.0
- Here are the plugins I'm using:

[code]

- Here are the modules I'm using
[code]
- Running the following command for dev: `webpack-dev-server.js --mode='development' --inline --progress --debug --config ./webpack.config.js`

[2018-06-22 18:04] MaximeHeckel commented on #126
And my `.babelrc`
[code]

[2018-06-22 19:35] MaximeHeckel commented on #126
Confirming this works!
I just forgot to update React-Dom with React. See https://stackoverflow.com/questions/49703370/react-16-3-context-provider-err-expected-string-or-class-func-but-got-object
Closing.

[2018-06-22 19:35] #126 closed

[2018-06-22 20:00] whawker commented on #126
:sweat: phew!

[2018-06-24 17:48] idanmiller commented on #104
@whawker Seems that no, as I already did the suggested import.
I will try hopefully this week to fork and demonstrate the problem.
Currently using the official highcharts react component so not stuck, but will be happy to move to react-jsx-highcharts if this issue is resolved.

[2018-06-27 12:35] anajavi commented on #94
This seems to be fixed in highchart 6.1.1

[2018-06-27 13:54] whawker commented on #94
Thanks for the heads up @anajavi! 😀

[2018-06-27 13:54] #94 closed

[2018-06-28 09:00] quirk0o opened #128 "Multiple chart performance"
#### Bug or Feature Request?
Bug

#### Description
I have many instances of a chart component rendered on one page (100) inside a table - one chart per row. When I load the page the initialization of all those charts makes the whole page freeze up for ~3 seconds. Is there some configuration option that would allow me to do this without causing such a lag?

#### How to reproduce
Render 100 charts a

[2018-06-28 17:08] Gudahtt opened #129 "Unmet peer dependency warning for "immutable""
#### Bug or Feature Request?

Bug

#### Description

I get the following warning when I install this package:
[code]

It looks like `immutable` isn't required to use `react-jsx-highcharts`. Yet I am forced to install `immutable` alongside `react-jsx-highcharts` or I get this warning.

It looks as though the `is-immutable` package doesn't directly rely upon `immutable`, but maybe the field that it

[2018-06-28 17:33] whawker commented on #129
Yeah fair point. I never really considered that when I added Immutable support way back then.

I'll look to remove the peer dependency in the next release.

[2018-06-29 07:12] whawker commented on #128
Hi @quirk0o, just out of interest, do you see any noticeable improvement when using version 3? The upgrade *should* be [fairly trivial](https://github.com/whawker/react-jsx-highcharts/releases/tag/v3.0.0)

[2018-07-02 11:31] quirk0o commented on #128
Hi @whawker . I upgraded to version 3 but I don't see any improvement.

[2018-07-02 20:12] ayesha-omarali opened #130 "Request: help with location of highstock datepicker in chart component"
#### Request
Hi! Thanks for your wrapper, it's been very helpful!
Could you please help me out with this? I'm trying to use the date picker and put it in the same location as one of your demos [here](https://whawker.github.io/react-jsx-highcharts/examples/CustomComponent/index.html).
Instead, it shows up underneath the chart. Ideally, I'd like to be able to have the RangeSelector buttons on the to

[2018-07-03 09:24] idanmiller commented on #104
Hi eveyone,

Sorry this took so long.

Here's my reproduction of the issue:
https://stackblitz.com/edit/base-chart-example-l78cdn?file=MyChart.js

I indeed forked as @ismusidhu suggested from the basic example.

Note that there is a gap between candles that have missing times.
This happens in real data between end of trade of one day to the start of trade in the next day.
Now, in the regular highc

[2018-07-03 10:30] whawker commented on #130
Hi @ayesha-omarali, I am using CSS and `position: absolute`

<img width="915" alt="screen shot 2018-07-03 at 08 41 33" src="https://user-images.githubusercontent.com/2003804/42214798-6d4c8b34-7eb4-11e8-85af-c0719ddd2d83.png">

[See here](https://whawker.github.io/react-jsx-highcharts/examples/CustomComponent/index.html)

[2018-07-03 10:34] whawker commented on #128
Hi @quirk0o in the live demonstration above, the charts seem to load instantly for me. Even with my CPU throttled with 6x slowdown.

Could there be a delay from wherever you're fetching the data from?

[2018-07-05 17:45] whawker commented on #129
I've made `immutable` an _optional_ dependency of `is-immutable`.

Reason being optional removes the warning (which fixes the issue), but it also makes sure that if immutable _is_ being used, it's above the expected 3.0.0 minimum.

[2018-07-05 17:45] #129 closed

[2018-07-05 19:55] Gudahtt commented on #129
This does indeed get rid of the warning, but I don't believe it'll have the effect you have in mind.

When you install an npm package, npm will always attempt to download the optional dependencies too. It will just allow them to fail without considering the install to have been a failure. `immutable` likely won't fail to install, so this change is no different than including `immutable` as a regul

[2018-07-08 13:59] nrai opened #131 "xAxis Labels and Categories not changing in Highcharts React Jsx"
We are rendering a LineSeries chart on submit of a form. This form has a frequency field according to which we should change the labels and categories shown on xAxis in the highchart. Even after passing correct values, highchart is not picking up the new labels. Although the chart data is changing according to the form submitted. Please find the code snippet for rendering the highchart below -

[c

[2018-07-08 19:14] #131 closed

[2018-07-09 09:04] nrai commented on #131
Thank you. Closing this issue.

[2018-07-09 22:09] xingxing888 opened #132 "Error: Can't resolve 'is-immutable'"
#### Bug

#### Description
I tried to test out the example series inside my react application. The sample model is https://stackblitz.com/github/whawker/react-jsx-highcharts-examples?file=src%2FCombo%2FCombo.js
however, the program doesn't even compile. the error message is:
[code]
what i installed are:
npm install --save react-jsx-highcharts
npm install --save react react-dom prop-types highchart

[2018-07-09 22:42] whawker commented on #132
Hi @xingxing888, dang I accidentally published is-immutable@1.0.2 without building the code first, silly me!

I've just published 1.0.3 which should fix the issue. I think `npm update is-immutable` might sort it?

P.s. As an aside it's worth noting that support for React 15 was dropped in React JSX Highcharts V3, and it looks like you're using React ^15.6.2 in your `package.json`

[2018-07-10 07:04] whawker commented on #132
If `npm update is-immutable` doesn't update the package, try `npm add is-immutable && npm remove is-immutable`

[2018-07-10 07:04] #132 closed

[2018-07-10 07:06] bohdanbirdie opened #133 "Get data that used in tooltip"
#### Bug or Feature Request?
Help request I guess.

#### Description
I have a HighchartsStockChart with several LineSeries, and a Tooltip.
So what I'm looking for is a kind of external tooltip that will be placed outside the chart.
Here is the example that I'd like to copy https://bravenewcoin.com/Bitcoin#Trading-Pairs
When you hover over the charts - it will update that tooltip outside the chart.

[2018-07-10 08:02] bohdanbirdie commented on #133
Well, I finally found a great solution!
Instead of saving this indexes in the state I moved them to my redux store and connected external components with the store, so it only rerender that component and doesn't rerender charts component.

Thanks for your great project!

[2018-07-10 09:10] whawker commented on #133
Hi @bohdanbirdie, have you explored using the [Higher Order Components](https://github.com/whawker/react-jsx-highcharts/wiki/Higher-Order-Components#providechart) to create your own Custom Component? Example with datepickers [here](https://stackblitz.com/github/whawker/react-jsx-highcharts-examples?file=src%2FCustomComponent%2FDateRangePickers.js)

I would suggest creating your own custom componen

[2018-07-10 13:44] ismusidhu opened #134 "Does it support server side rendering?"
I'm trying to get HTML for the chart, but I'm not getting SVG markup in return. I only get `<div class="chart "></div> ` when I call `renderToString` function

[code]

https://codesandbox.io/s/jpq9kv84v5

[2018-07-10 14:06] whawker commented on #134
Unfortunately Highcharts itself does not support server side rendering - [see here](https://github.com/highcharts/highcharts/issues/7058)

React JSX Highcharts itself should not error when rendered server side, but the chart itself will not render until a browser environment is present.

[2018-07-10 14:30] #133 closed

[2018-07-10 14:31] #130 closed

[2018-07-10 14:32] whawker commented on #128
Hi @quirk0o any updates?

[2018-07-10 14:38] bohdanbirdie commented on #133
@whawker wow, this is much better!
Thank you!

[2018-07-10 15:30] whawker commented on #104
Hi @idanmiller after much digging around, it seems the workaround is quite simple

Simply add the `ordinal` prop to your `XAxis` ([Ordinal docs](https://api.highcharts.com/highstock/xAxis.ordinal))
[code]

This is the default on a stock chart usually ([see here](https://github.com/highcharts/highcharts/blob/master/js/parts/StockChart.js#L162-L174)) but I haven't replicated this properly in React J

[2018-07-10 15:49] whawker commented on #104
Opened https://github.com/highcharts/highcharts/issues/8603

[2018-07-10 23:06] ricopella opened #135 "Add Histogram support"
#### Bug or Feature Request?
Feature Request

#### Description
Would love to be able to use a Histogram series. Is that on the roadmap?

[Highcharts Histogram](https://www.highcharts.com/docs/chart-and-series-types/histogram-series)

[2018-07-11 08:01] whawker commented on #135
Hi @ricopella, we don't have a `HistogramSeries` component (yet), but you can use the base `Series` component with the `type` prop i.e. `<Series type="histogram" />`

The named series components such as LineSeries, ScatterSeries etc, are just wrappers of the base Series component

Example histogram chart [here](https://stackblitz.com/edit/rjh-histogram?file=MyChart.js)

P.s. Remember to import and

[2018-07-13 17:57] #135 closed

[2018-07-14 21:59] idanmiller commented on #104
@whawker Thanks!

[2018-07-15 21:57] RIKIL commented on #33
For me, this issue is still a problem.  We have a set of dates on our chart as seen in the link in the OP.  I can click on the field with a date and see my cursor in the field but I can't change anything and the calendar doesn't come up either.

Here is my entire RangeSelector code:
                <RangeSelector

                    inputDateParser={this.parseDate}
                    inputStyle=

[2018-07-17 02:09] aminsshahab opened #136 "Support For Annotations?"
Is there currently a way to use Annotations? I would like to implement user drawn lines (drag and drop) in which the user will click somewhere on the chart and then drag the cursor to an endpoint destination, resulting in a line being drawn between two points.

Example: http://jsfiddle.net/cQa7K/33/
Annotations Docs: https://api.highcharts.com/highcharts/annotations

I am also open to other ways o

[2018-07-17 18:32] whawker commented on #136
Hi @aminsshahab, there is currently no component for annotations but you cold pass `annotations` as a prop as `HighchartsChart`

[code]

[2018-07-17 18:47] whawker commented on #53
@ricopella as all the axes and series are added to the chart dynamically, you would be best hooking into a Series render event and updating your component state.

Example here: https://stackblitz.com/edit/rjh-on-load-workaround-wvnbfx?file=MyChart.js

[2018-07-17 22:32] aminsshahab commented on #136
Awesome! Thank you for the quick response.

[2018-07-18 08:22] dandv opened #138 "Comparison with the official React wrapper"
Hi Will, I read your [blog post](https://www.highcharts.com/blog/frameworks/react/highcharts-abstraction-react-components-react-jsx-highcharts/) about this library, and saw the link at the top pointing to [the official React wrapper for Highcharts](https://www.highcharts.com/blog/tutorials/highcharts-react-wrapper/), which they released on April 11.

I see there have been commits since then, so I'

[2018-07-18 10:51] whawker commented on #138
I believe my library provides a simpler way for React to interact with a Highcharts chart, by providing an abstraction layer.

All the official Highcharts wrapper does is take a large configuration option and call [`this.chart.update`](https://github.com/highcharts/highcharts-react/blob/master/src/HighchartsReact.js#L20). Which is largely fine for static charts, however for more complex use cases

[2018-07-18 10:54] dandv commented on #138
Thank you!

[2018-07-18 10:54] #138 closed

[2018-07-18 11:35] ismusidhu commented on #134
thanks @whawker for the reply. Feel free to appropriately label and close.

[2018-07-18 21:12] whawker commented on #136
Hmm it seems the issue is that we add the series dynamically using `chart.addSeries()` (behind the scenes), and the annotations need the series data to be present.

As a workaround, you could listen for the `onAddSeries` event and add the annotations dynamically as well. Example here: https://stackblitz.com/edit/base-chart-example-grvbyc?file=MyChart.js

[2018-07-18 22:04] aminsshahab commented on #136
This works, thank you!

[2018-07-19 07:36] whawker opened #139 "Investigate using "oneToOne" instead of getModifiedProps"
There may be performance benefits in using `oneToOne` when calling chart/axis/series update.

We currently use the `getModifiedProps` util to figure out which props have changed, and only call update with the change set.

See: https://api.highcharts.com/class-reference/Highcharts.Chart#update

[2018-07-19 07:39] whawker commented on #139
The `oneToOne` functionality was added in 5.0.13,
So probably need to fallback to existing behaviour on older 5.x versions.

https://www.highcharts.com/documentation/changelog

[2018-07-19 11:41] whawker commented on #136
Example with Candlestick series: https://stackblitz.com/edit/base-chart-example-zx5mhp?file=MyChart.js

[2018-07-19 17:02] whawker commented on #139
`oneToOne` is not appropriate for this library

* Axes are made up of multiple components (Axis and Axis.Title),
* Series are can be updated via Navigator.Series

Both of which would be splatted if we oneToOne updated.

[2018-07-19 17:02] #139 closed

[2018-07-19 19:36] jacobweber opened #140 "Resizing without animation"
#### Bug or Feature Request?
Question

#### Description
First of all, thanks for this component...I converted my code from react-highcharts, and it worked so well on the first try, I had to make sure my code had actually re-compiled!

Anyway, I have a Highstock chart that I resize when the browser window is resized (I'm using react-sizeme for that).

In the pure Javascript version, I would call ch

[2018-07-19 19:54] whawker commented on #140
Thanks for the kind words!

Have you seen the [reflow example](https://whawker.github.io/react-jsx-highcharts/examples/Reflow/index.html)? That seems to work with `animation={false}`

https://stackblitz.com/edit/base-chart-example-kpxvcc?file=MyChart.js

[2018-07-19 20:06] jacobweber commented on #140
Yeah, I looked at that. I'd been avoiding Highcharts' reflow feature, since I've had problems with it in the past, and calling setSize() was working for me.

It looks like [you call](https://github.com/whawker/react-jsx-highcharts/blob/master/packages/react-jsx-highcharts/src/components/Chart/Chart.js#L57) chart.update when the Chart width/height properties change. This would use the default value

[2018-07-19 20:47] whawker commented on #140
As a temporary workaround (if you don't want any animations at all on your chart) you could set the global animation option on your chart.

On the aforementioned stackblitz example

[code]

[2018-07-24 09:40] Izio91 opened #141 "Dynamic activation with dropdown"
Hi to everyone, I'd like to know if there is a way for integrate a dropdown to the highchart for the purpose of active the associate histogram to the item selected

[2018-07-24 10:29] whawker commented on #141
Hi @Izio91, it should just be a case of changing the `baseSeries` prop to the ID of your selected series.

Example here: https://stackblitz.com/edit/rjh-histogram-vgsxwy?file=MyChart.js

[2018-07-25 09:54] Izio91 commented on #141
Thank you a lot for your answer! Using the same library can I add or remove histograms for the purpose of compare them in the same plan?

[2018-07-25 10:00] whawker commented on #141
If I understand your meaning, yes - just mount/unmount a Histogram `Series` component.

[2018-07-25 10:07] Izio91 commented on #141
Thank you!

[2018-07-25 10:07] #141 closed

[2018-07-29 07:52] alexei-tilikin opened #142 "Missing support for 'tilemap' chart type."
#### Bug or Feature Request?
Feature request.

#### Description
Hello, I discovered react-jsx-highcharts and it seems to be conseptually more efficient solution comparing to flat highcharts adapters for reactjs.

I didn't really come to work with it too much, then I realized that data series of type tilemap is not supported.
I'm aware of the fact that additional modules should be added to highchar

[2018-07-30 14:26] btomy opened #143 "Treemap Drilldown button disappears"
#### Bug or Feature Request?
Bug

#### Description
Hi,
I discovered a bug when i was using the Drilldown Treemap series for my project.
So if you drilldown into the series and then you change the data ( Graph will reload) the drilldown button disappears after the graph is loaded

#### How to reproduce
Once you click on any of the Continents and drilldown into the series.
Then click on the 6 months

[2018-07-30 21:33] whawker commented on #142
Hi @alexei-tilikin there is an outstanding issue to add Highmaps support (#56)

Judging by the imports required by [vanilla Highcharts](http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/maps/demo/diamondmap), looks like this would be a prerequisite.

[2018-07-31 01:26] mwubgadeashish opened #144 "rangeSelector.buttons.events"
#### Bug

#### How to add click event for rangeSelector buttons
@whawker

#### I tried to add click event by using plotOptions and adding event on button but none of them worked. It would be great if you can look at following code and let me know what is missing in it.

#### What I am trying to do?
On 1Day, 1Week and 1Month button click, trying to get first and last value from series.processedYDat

[2018-07-31 01:29] mwubgadeashish opened #145 "xAxis.crosshair zIndex"
#### Bug

#### How to set higher zIndex for xAxis crosshair

#### Ref: https://api.highcharts.com/highcharts/xAxis.crosshair.zIndex
I tried it by using plotOptions but did not worked

@whawker

[2018-07-31 07:55] whawker commented on #144
Hi @mwubgadeashish, as mentioned [in the readme](https://github.com/whawker/react-jsx-highcharts#exception-1), we use the React convention `onEventName` for event handlers.

See the example below, using `onClick` on the "Hi" button
https://stackblitz.com/edit/base-chart-example-v1ntv3?file=MyChart.js

[2018-07-31 07:56] #144 closed

[2018-07-31 08:35] whawker commented on #145
I seem to be getting the `zIndex` through in my tests? Have you specified a `zoomType` on your chart?

<img width="739" alt="screen shot 2018-07-31 at 09 08 47" src="https://user-images.githubusercontent.com/2003804/43448134-051931c8-94a5-11e8-8f11-dbb900bf59c9.png">

See here: https://stackblitz.com/edit/base-chart-example-1uvkjp?file=MyChart.js

[2018-07-31 10:46] alexei-tilikin commented on #142
Hi @whawker ,
Thanks for your response.
As far as I'm familiar with highcharts, the type 'tilemap' is not a highmap, but a highchart.
It doesn't require highmaps module, and rather depends on heatmap module (which is also part of highcharts).

The imported modules that I used in the reproduce example don't contain highmaps, and they are working for other highcharts react wrappers (such as <ReactHi

[2018-07-31 11:05] whawker commented on #142
@alexei-tilikin ah good spot.

Looks like the problem is that `Series` needs to child of an Axis - usually the `YAxis`.

Also, in your StackBlitz example above, you were importing the modules but not applying them, I think this might have just been a copy paste error though, as you mentioned that in your original post.

Here is that America tile chart, working in React JSX Highcharts: https://stac

[2018-07-31 13:32] mwubgadeashish commented on #145
@whawker thanks for quick response. It worked.

I was trying throw plotOptions and seems I was doing something wrong.

Once again thanks for quick help.

Thanks,
Ashish

[2018-07-31 13:32] #145 closed

[2018-07-31 13:52] mwubgadeashish commented on #144
@whawker thanks for quick response. I have already tried this example and event was called as you have shown in example.
But this event is called before graph is re-loaded and the values in `processedYData` refers to prior selected `RangeSelector` and not the currently clicked.

I was looking for something like callback event on button or on entire chart when entire chart data is reloaded. OR is t

[2018-08-01 06:33] alexei-tilikin commented on #142
@whawker it works!
Thank you for the help!
Funny enough I tried adding the series to XAxis, but probably missed something else then...

[2018-08-01 06:33] #142 closed

[2018-08-06 00:21] Silveress opened #146 "Optimizing loading series to different yAxis's?"
Hi there,

Loving the package and its doing almost all that I want.
However I am running into a performance issue that I cannot seem to overcome.

The goal of what I am doijg is to have as many items on the page as possible.
Each item has 12 series attached to it spread across 4 yAxis.

First yAxis loads up near instantly, with the following 3 far far slower.

I have tried adding the yaxis as prop

[2018-08-06 16:51] mwubgadeashish commented on #144
@whawker can you please look into my previous comment?

[2018-08-06 21:21] mwubgadeashish opened #147 "Range Selector Button - get associated data values"
#### Question

#### Is there is any way to get the range selector data values?

#### I have 3 range selector buttons (viz 1 Day, 1 Week and 1 Month). I need to know what data will be displayed on each button click. With Highcharts object how to get these values?

@whawker

[2018-08-06 22:30] whawker commented on #147
Not sure on that one. Seems more of a question on how to use Highcharts than my wrapper library. You might best off posting on the [Highcharts issues](https://github.com/highcharts/highcharts/issues) instead.

[2018-08-07 19:04] mwubgadeashish commented on #147
@whawker Thanks for response and I am able to get it by using `processedYData`

Also do you have any example where I can dynamically change the color for LineSeries  by using `id` or `name`?

[2018-08-07 20:40] whawker commented on #146
Hi @Silveress looks like there is a high degree of latency whilst awaiting the data from the server - in excess of 5 seconds on the example you linked (see below)

<img width="1314" alt="screen shot 2018-08-07 at 21 17 34" src="https://user-images.githubusercontent.com/2003804/43800227-b23c8098-9a87-11e8-9201-5322feae4c7a.png">

I also think the functions you're using to format the data before pas

[2018-08-08 11:36] whawker commented on #147
Being a React component it is already dynamic, you just need to change the value of the `color` prop on your `LineSeries`

I.e.
[code]

[2018-08-08 16:31] Silveress commented on #146
First of all thank you for the time.

I played around a lot with it last night and although yer examples didn't solve it for me they did point me in the right direction, namely that you only loaded 12 series.
In the example above I was loading 9 ID's  for a total of 112 series (4+(12*n)), turns out highcharts dosent like anything over 50 series or so.
The solution I went with was to only load the

[2018-08-09 07:38] #146 closed

[2018-08-21 06:52] arpitprod opened #148 "Market Depth Example"
#### Feature Request?

Market Depth Example

#### Description

I saw a Market Depth example in highcharts github link
[https://github.com/highcharts/highcharts/issues/8564#issuecomment-402061246](url)
This is example code
[https://jsfiddle.net/daniel_s/tc7dswjd/](url)

and I tried to convert this example in react. This is my code link
[https://stackblitz.com/edit/base-chart-example-eezqwa?file=MyC

[2018-08-21 09:04] whawker commented on #148
Hi @arpitprod, there are a few issues here,

Firstly, in most cases React JSX Highcharts requires that `Series` are a child of an Axis

i.e.
[code]
not

[code]

Secondly your `fetch` implementation is incorrect - jQuery's `$.getJSON` and `fetch` do not have the same API, `$.getJSON` accepts a callback as the second parameter, whereas `fetch` is a function that returns a Promise, so it should be

[

[2018-08-21 09:04] #148 closed

[2018-08-21 20:04] whawker commented on #56
Just published the first beta, [React JSX Highmaps 0.1.0-beta.1](https://www.npmjs.com/package/react-jsx-highmaps)!

[2018-08-22 12:58] whawker commented on #56
@unofang @idoromm here is an example: https://stackblitz.com/edit/base-map-example-svixuf?file=MyMap.js

If you guys could play around with the beta and give me some feedback that would really help me out.

[2018-08-22 21:32] brucevanhorn2 commented on #30
Does this also work on HighchartsStockChart?

[2018-08-22 21:59] whawker commented on #30
@brucevanhorn2 yep, anything that is available for HighchartsChart should work for HighchartsStockChart too

[2018-08-23 16:47] whawker commented on #34
@mandajoan if you're still looking for Highmaps support, I've just published a beta version. https://www.npmjs.com/package/react-jsx-highmaps

Example: https://stackblitz.com/edit/base-map-example-svixuf?file=MyMap.js

[2018-08-23 17:05] #147 closed

[2018-08-24 09:33] anajavi opened #150 "v3.2.0 HeatmapSeries has wrong capitalization in npm package"
#### Bug or Feature Request?
Bug, probably needs just rm -rf dist and rebuild & republish

#### Description
Wrong capitalization of HeatmapSeries folder in npm packages dist folder causes error:
[code]
The folder is Heat**Map**Series but it should be HeatmapSeries.

#### How to reproduce

It can be reproduced with case sensitive filesystem, for example on Linux, but not necessarily on MacOS.

Rebu

[2018-08-24 09:53] whawker commented on #150
Ah dang, this is from me poorly resolving a merge conflict. Will fix now.

[2018-08-30 03:29] jgonzalez4 commented on #71
Hi, this still isn't working in the latest version (3.2.1) with latest react and highcharts.

A series will only show in the navigator if it is visible in the main chart with the latest libraries. Ideally I'd also like to be able to pass a dataset directly to Navigator.Series like in this high stock [example](http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/stock/n

[2018-09-04 18:28] jacobweber opened #151 "If two charts share a data value, only one gets updated"
#### Bug or Feature Request?
Bug

#### Description
If two charts reference the same value in their "data" property, changing the value only updates one of the charts.

#### How to reproduce
Create an array of data, and pass it into a chart component's "data" property. Pass the same array into a second identical chart. Now update the property's value (e.g. don't just change the array's contents, bu

[2018-09-04 20:13] whawker commented on #151
Hmm interesting, I'm not quite sure why that is.

It might be something to do with Highcharts modifying the array by memory reference when it processes it, therefore the second chart believes there is no work to be done? I'll look into it.

As a workaround, it seems if you spread the data before passing it down (therefore cloning it), it seems to avoid the issue

[code]

[2018-09-09 11:42] nrai opened #152 "XAxis ticks screwed up after changing it's category dynamically"
Bug
We are changing the xAxis category dynamically based on the user selection. We are using the scrollable feature to implement the scroll. We are passing min and max values to XAxis.

Below is the code -

[code]

In the code above this.props.data.eventOutliers.data.sales changes based on the user selection.

Any help would be appreciated. Thanks in advance.
#### Versions
* React JSX Highcharts v

[2018-09-09 11:47] nrai commented on #152
<img width="1364" alt="screen shot 2018-09-09 at 5 15 20 pm" src="https://user-images.githubusercontent.com/2529677/45264062-f9246f80-b453-11e8-9b4a-f68db8e29219.png">
<img width="1369" alt="screen shot 2018-09-09 at 5 15 05 pm" src="https://user-images.githubusercontent.com/2529677/45264063-f9bd0600-b453-11e8-8a79-82bcb12bb187.png">
<img width="1377" alt="screen shot 2018-09-09 at 5 14 49 pm" src

[2018-09-10 11:29] whawker commented on #152
It's difficult to say without seeing the data being provided to the graph.

But I would suggest the "Thursday Jan 1st" in the tooltip of the 3rd image implies the dataset set is incomplete? And hence defaulting to 1st Jan 1970?

I would guess this is because you're scrolling to a dataset that ends in the future, and sales data in the future is undefined? Leading to an incomplete dataset.

P.s. the

[2018-09-15 18:52] jacobweber opened #153 "Allow "time" options to be specified"
#### Bug or Feature Request?
Feature request

#### Description
Allow the [time options](https://api.highcharts.com/highcharts/time) to be specified.

#### How to reproduce
N/A

#### Live demo demonstrating bug
N/A

#### Versions
* React JSX Highcharts version: 3.1.0
* Highcharts version: 6.0.7
* React version: 16.5

[2018-09-17 16:15] whawker commented on #153
Hi @jacobweber, you can supply a timezone by passing a `time` prop to your `HighchartsChart` component

Example: https://stackblitz.com/edit/base-chart-example-73axnx?file=MyChart.js

It's worth noting though, Highcharts requires you to expose `moment` on the [global window object](https://github.com/highcharts/highcharts/blob/v6.1.2/js/parts/Time.js#L426) for timezone features to work 😞, which is

[2018-09-18 07:44] #153 closed

[2018-09-18 23:06] vladimirvorobiev opened #154 "how to force to update collection of ColumnSeries"
#### Bug or Feature Request?
N/A

#### Description
how to force to update collection of ColumnSeries looks like it push it by default when state changed

#### How to reproduce

#### Live demo demonstrating bug

#### Versions
* React JSX Highcharts version: latest
* Highcharts version:  latest
* React version: latest

[2018-09-19 12:04] whawker commented on #154
Would you mind creating a demo of the problem? I'm not quite sure what you mean.

[2018-09-19 12:05] whawker commented on #152
@nrai was any of the above helpful?

[2018-09-19 15:35] vladimirvorobiev commented on #154
I've created the app
https://stackblitz.com/edit/react-iq27yr

if you uncheck/check [02pm]  checkbox it will disappears and appears in the end on series.
If you uncheck/check [09am]  checkbox it will disappears and appears in the end on series BUT I am expecting to be appear in the start of series (in the place it was before unchecked)
Did I miss smth or dont understand smth? Thanks

[2018-09-19 18:40] vladimirvorobiev commented on #154
Added demo
Please review

From: Will Hawker <notifications@github.com>
Sent: September-19-18 8:05 AM
To: whawker/react-jsx-highcharts <react-jsx-highcharts@noreply.github.com>
Cc: Vladimir Vorobiev <Vladimir.Vorobiev@intelex.com>; Author <author@noreply.github.com>
Subject: Re: [whawker/react-jsx-highcharts] how to force to update collection of ColumnSeries (#154)

Would you mind creating a demo o

[2018-09-19 18:58] whawker commented on #154
Hmm I would suggest using the series `visible` and `showInLegend` properties instead of an array filter?

React JSX Highcharts automatically adds/removes a series when a `<Series />` component is mounted/unmounted.

Instead of
[code]

Try
[code]

[2018-09-19 19:01] vladimirvorobiev commented on #154
did not help
change the demo - behavior is the same

[2018-09-19 19:02] vladimirvorobiev commented on #154
sorry it works

[2018-09-20 00:53] #154 closed

[2018-09-20 16:53] devcreations opened #156 "Can anyone show a working example of dataLabels in a Bar Chart?"
#### Bug or Feature Request?
Can anyone show a working example of dataLabels in a Bar Chart?

#### Description
dataLabels example in a Bar Chart?

#### How to reproduce

#### Live demo demonstrating bug

#### Versions
* React JSX Highcharts version:
* Highcharts version:
* React version:

[2018-09-24 22:45] AntonellaAntonini opened #157 "Graph (scatter) Not Redrawing Correctly When Updating Data"
#### Bug or Feature Request?
Bug

#### Description
Hi, I'm using the <ScatterSeries /> component, I have to highlight selected points. When I select points, others are removed from the graph.
The data (pointsSelected, pointsNoSelected) are updated correctly and are in the array, but are not drawn.
**I need to use react-jsx-highcharts 2.2.1 to not update React.**

#### Live demo demonstrating bug
c

[2018-09-25 00:18] vladimirvorobiev opened #158 "ColumnSeries color"
#### Bug or Feature Request?
question

#### Description
Is it possible to set custom color for each column in ColumnSeries?
I could see that ColumnSeries color property affects all columns in series...
#### How to reproduce

#### Live demo demonstrating bug

#### Versions
* React JSX Highcharts version: latest
* Highcharts version:  latest
* React version: latest

[2018-09-25 08:47] whawker commented on #157
@AntonellaAntonini could you show how you're passing the `pointsSeleccionados` / `pointsNoSeleccionados` state into a series?

[2018-09-25 08:52] whawker commented on #158
[Yes](https://api.highcharts.com/highcharts/series.column.color). As stated [in the readme](https://github.com/whawker/react-jsx-highcharts#getting-started), you can use the Highcharts API documentation to determine which props to pass.

[code]

Equivalent to
[code]

[2018-09-25 08:52] #158 closed

[2018-09-25 10:08] AntonellaAntonini commented on #157
<HighchartsChart plotOptions={plotOptions}>
              <Chart height={300} width={600} zoomType="xy"
                     onSelection={this.handleSelection}/>
              <XAxis  labels={{ rotation: -60 }}  id="xAxis" startOnTick={true} endOnTick={true}>
                <XAxis.Title> {this.state.titleX}</XAxis.Title>
              </XAxis>
              <YAxis visible={true} id="scatter" >

[2018-09-25 10:12] AntonellaAntonini commented on #157
`render () {
 const { pointsSeleccionados, pointsNoSeleccionados } = this.state;
  return (
   <HighchartsChart plotOptions={plotOptions}>
              <Chart height={300t} width={800} zoomType="xy"
                     onSelection={this.handleSelection}/>
              <XAxis  labels={{ rotation: -60 }}  id="xAxis" startOnTick={true} endOnTick={true}>
                <XAxis.Title> {this.state.ti

[2018-09-26 09:48] AntonellaAntonini commented on #157
Resolved! I updated the library and it worked correctly.
Another question, I need scatter plot 3d and rotate it with the mouse as the example of the web (of highcharts-3d). Someone implemented it?
Thank you!!

[2018-09-26 09:48] AntonellaAntonini commented on #157
Resolved! I updated the library and it worked correctly.
Another question, I need scatter plot 3d and rotate it with the mouse as the example of the web (of highcharts-3d). Someone implemented it?
Thank you!!

[2018-09-26 09:56] AntonellaAntonini commented on #157
https://www.highcharts.com/demo/3d-scatter-draggable

[2018-09-26 09:58] whawker commented on #157
It's not with the mouse, but the principles should be the same? https://whawker.github.io/react-jsx-highcharts/examples/3DChart/index.html

Stackblitz: https://stackblitz.com/github/whawker/react-jsx-highcharts-examples?file=src%2F3DChart%2F3DChart.js

[2018-09-26 10:03] AntonellaAntonini commented on #157
Yes, I saw it .
I do not know how to rotate it by dragging it with a mouse

[2018-09-26 10:08] whawker commented on #157
Did you update Highcharts library? Or React JSX Highcharts library?

I haven't done this before, but I can have a look at making a simple demo

[2018-09-26 10:16] AntonellaAntonini commented on #157
I updated "Highcharts", "react-jsx-highcharts" and "react" to the latest version.
Thanks! I wait your answer :)

[2018-09-26 11:00] whawker commented on #157
As the issue is resolved I'm closing this, but will still respond with a simple demo soon

[2018-09-26 11:00] #157 closed

[2018-09-26 13:51] whawker opened #159 "CI Server"
Use a CI server to automatically lint and test each commit

[2018-09-26 13:55] whawker commented on #159
I've mostly used Travis, but I'm happy to go with Circle if you're are more comfortable with it?

[2018-09-27 20:50] jacobweber commented on #140
Looks like this works by default now with Highcharts 6.1.0 and greater. You can disable animation on resize by passing `animation={false}` to the Chart component. To disable the initial animation, you have to pass the same property to all of your series components.